{# Фильтры для страницы "Группы оборудования электростанций" #}
{% set filters_action = url_for('fuel_bp.stations_equipment_groups') %}
{% set use_equipment_group_filter = true %}
{% set import_redirect_endpoint = 'fuel_bp.stations_equipment_groups' %}
{% set import_fuel_db_action = url_for('fuel_bp.import_fuel_db_equipment_groups') %}
{% set hide_year_range = true %}
{% set center_top_pagination = true %}
{% set total_count_label = 'групп оборудования' %}
{% set per_page_count_label = 'групп оборудования' %}
{% set per_page_all_label = 'группы оборудования' %}
{% include 'fuel/_shared/station_filters.html' %}
