{% extends 'base.html' %}

{% block title %}Добавить новый субъект РФ{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
  <div class="container mt-5">
        <h2 class="mb-4"><i class="fas fa-plus-circle"></i> Добавить субъект РФ</h2>

        <!-- Форма ввода данных -->
        <form action="{{ url_for('reference_bp.add_regional_district_routes') }}" method="POST">
            {{ form.hidden_tag() }}

        <!-- Скрытые поля для сохранения параметров предыдущей страницы -->
        <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'id') }}">
        <input type="hidden" name="sort_dir" value="{{ request.args.get('sort_dir', 'asc') }}">
        <input type="hidden" name="regional_district_filter" value="{{ request.args.get('regional_district_filter', '') }}">
        <input type="hidden" name="federal_districtfilter" value="{{ request.args.get('federal_districtfilter', '') }}">
        <input type="hidden" name="per_page" value="{{ request.args.get('per_page', 10) }}">
        <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">
        
        <!-- Наименование субъекта РФ -->
        <div class="mb-3">
            <label for="name" class="form-label">Наименование субъекта РФ</label>
            {{ form.name(class="form-control", id="name") }}
            
            <!-- Ошибки валидации -->
            {% if form.name.errors %}
                <div class="text-danger">
                    {{ form.name.errors|join(', ') }}
                </div>
            {% endif %}
        </div>

        <!-- Полное наименование субъекта РФ -->
        <div class="mb-3">
            <label for="name_full" class="form-label">Полное наименование субъекта РФ</label>
            {{ form.name_full(class="form-control", id="name_full") }}
            
            <!-- Ошибки валидации -->
            {% if form.name.errors %}
                <div class="text-danger">
                    {{ form.name.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        
        <!-- Наименование ФО -->
        <div class="mb-3">
            <label for="federal_district" class="form-label">Наименование ФО</label>
            {{ form.federal_district(class="form-select", id="federal_district") }}
            
            <!-- Ошибки валидации -->
            {% if form.federal_district.errors %}
                <div class="text-danger">
                    {{ form.federal_district.errors|join(', ') }}
                </div>
            {% endif %}
        </div>

        <!-- Кнопки сохранения записи и возвращения назад -->
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Добавить</button>
            
            <a href="{{ url_for('reference_bp.regional_district_list', 
                        sort_by=request.args.get('sort_by', 'id'),
                        sort_dir=request.args.get('sort_dir', 'asc'),
                        regional_district_filter=request.args.get('regional_district_filter', ''),
                        federal_district_filter=request.args.get('federal_district_filter', ''),
                        per_page=request.args.get('per_page', 10),
                        page=request.args.get('page', 1)) }}" 
                        class="btn btn-secondary">
                        Отмена
            </a>
        </div>
    </form>
  </div>
{% endif %}
{% endblock %}
