{% extends 'base.html' %}

{% block title %}Отслеживание действий пользователей{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- Кнопка возврата на главную страницу -->
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('refdata_bp.refdata') }}" class="btn btn-secondary">
            Вернуться на страницу "Справочники"
        </a>
    </div>

    <div class="container-fluid py-5">
        <h1 class="text-center mb-4">Действия пользователей</h1>

        <!-- Форма фильтрации и выбора количества строк -->
        <form method="get" action="{{ url_for('logs.view_logs') }}" class="row g-3 mb-4 align-items-center">
            <div class="col-md-4">
                <input type="text" name="username" class="form-control" placeholder="Фильтр по пользователю" value="{{ request.args.get('username', '') }}">
            </div>
            <div class="col-md-4">
                <input type="text" name="action" class="form-control" placeholder="Фильтр по действию" value="{{ request.args.get('action', '') }}">
            </div>
            <div class="col-md-2">
                <select name="per_page" class="form-select" onchange="this.form.submit()">
                    <option value="10" {% if request.args.get('per_page', '10')|int == 10 %}selected{% endif %}>10 записей</option>
                    <option value="25" {% if request.args.get('per_page', '10')|int == 25 %}selected{% endif %}>25 записей</option>
                    <option value="50" {% if request.args.get('per_page', '10')|int == 50 %}selected{% endif %}>50 записей</option>
                    <option value="100" {% if request.args.get('per_page', '10')|int == 100 %}selected{% endif %}>100 записей</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Применить</button>
            </div>
        </form>
        

        <!-- Таблица с логами -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover lh-sm fs-6" style="font-size: 14px;">
                <thead class="table-primary">
                    <tr>
                        <th class="p-3" style="width: 10%;">
                            <a href="{{ 
                            url_for('logs.view_logs', 
                            sort_by='timestamp', sort_dir='asc' if sort_by != 'timestamp' or sort_dir == 'desc' else 'desc', 
                            per_page=request.args.get('per_page', 10)) }}">
                                Время
                            </a>
                        </th>
                        <th class="p-3" style="width: 10%;">
                            <a href="{{ 
                            url_for('logs.view_logs', 
                            sort_by='username', 
                            sort_dir='asc' if sort_by != 'username' or sort_dir == 'desc' else 'desc', 
                            per_page=request.args.get('per_page', 10)) }}">
                                Пользователь
                            </a>
                        </th>
                        <th class="p-3" style="width: 30%;">
                            <a href="{{ 
                            url_for('logs.view_logs', 
                            sort_by='action', 
                            sort_dir='asc' if sort_by != 'action' or sort_dir == 'desc' else 'desc', 
                            per_page=request.args.get('per_page', 10)) }}">
                                Действие
                            </a>
                        </th>
                        <th class="p-3" style="width: 50%;">Детали</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs.items %}
                        <tr>
                            <td class="p-3">{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S.%f')[:-3] }}</td>
                            <td class="p-3">{{ log.username }}</td>
                            <td class="p-3">{{ log.action }}</td>
                            <td class="p-3">{{ log.details }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Пагинация -->
        <div>
            {% include 'logs/includes/pagination_logs.html' %}
        </div>
    </div>
</div>
{% endblock %}