<!-- Итоговые значения по типам ТЭС энергоузла -->
{% set es_type_name = energy_system_type_names[current_es_type_id] %}
{% if 'ЕЭС' in es_type_name %}
    {% set table_color = 'table-info' %}
{% elif 'ТИТЭС' in es_type_name %}
    {% set table_color = 'table-warning' %}
{% else %}
    {% set table_color = 'table-light' %}
{% endif %}

{% for tes_type_id, tes_name in tes_type_list.items() %}
    {% if tes_name|lower != 'не указано' %}
        {% set has_tes = energy_system_types_by_tes_types_yearly_p_ust
            .get(current_es_type_id, {})
            .get(tes_type_id) %}
            
        {% if has_tes %}
            <!-- Первая строка: p_ust -->
            <tr class="{{ table_color }} text-center total-power-row" style="vertical-align: middle;">
                <td class="total-row-cell ind2cm" rowspan="3" style="font-weight: bold; padding-left: 6cm;">
                    {{ tes_name }}
                </td>
                <td class="fw-bold">Руст</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {% set p_ust_value = energy_system_types_by_tes_types_yearly_p_ust.get(current_es_type_id, {}).get(tes_type_id, {}).get(y, 0) %}
                        {% if p_ust_value is none or p_ust_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_ust_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <!-- Вторая строка: p_ogr -->
            <tr class="{{ table_color }} text-center p-ogr-row">
                <td class="fw-bold">Рогр</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {% set p_ogr_value = energy_system_types_by_tes_types_yearly_p_ogr.get(current_es_type_id, {}).get(tes_type_id, {}).get(y, 0) %}
                        {% if p_ogr_value is none or p_ogr_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_ogr_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <!-- Третья строка: p_rasp -->
            <tr class="{{ table_color }} text-center p-rasp-row">
                <td class="fw-bold">Ррасп</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {% set p_rasp_value = energy_system_types_by_tes_types_yearly_p_rasp.get(current_es_type_id, {}).get(tes_type_id, {}).get(y, 0) %}
                        {% if p_rasp_value is none or p_rasp_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_rasp_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            {#–- {% include 'generation/stations_total_summary/aggregated_data/energy_system_types/aggregated_energy_system_types_by_tes_type_with_fuel.html' %} --#}

            {% include 'generation/stations_total_summary/aggregated_data/energy_system_types/aggregated_energy_system_types_by_tes_machine_type.html' %}

        {% endif %}
    {% endif %}
{% endfor %}

