{% extends 'base.html' %}

{% block title %}Генерирующие компании{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container mt-2">

    <h1 class="text-center mb-4">Список генерирующих компаний</h1>

    <form method="GET"
        action="{{ url_for('refdata_bp.gen_company_list') }}"
        class="mb-3"
        id="filterForm">

        <div class="row g-2 align-items-center">
            <!-- ЛЕВАЯ СТОРОНА: поиск + кнопки -->
            <div class="col-12 col-lg-8">
                <div class="d-flex align-items-center gap-2 flex-wrap flex-lg-nowrap">
                    <div class="flex-grow-1" style="min-width: 220px;">
                        {{ form.gen_company_filter(
                            class="form-control",
                            value=gen_company_filter,
                            placeholder="Поиск по генерирующим компаниям"
                        ) }}
                    </div>

                    <button type="submit"
                            class="btn btn-outline-primary"
                            onclick="this.form.page.value=1">
                            Поиск
                    </button>

                    <a href="{{ url_for('refdata_bp.gen_company_list') }}"
                            class="btn btn-outline-danger"
                            data-no-preloader>
                            Сбросить
                    </a>
                </div>
            </div>

            <!-- ПРАВАЯ СТОРОНА: выбор кол-ва строк -->
            <div class="col-12 col-lg-4 text-lg-end">
                <!-- Экспорт данных таблицы с фильтрами в Excel-->
                <a class="btn btn-warning fw-bold"
                    href="{{ url_for('refdata_bp.export_gen_company',
                                        gen_company_filter=gen_company_filter or '',
                                        sort_by=sort_by, sort_dir=sort_dir) }}"
                    target="_blank" rel="noopener">
                    Экспорт в Excel
                </a>

                <select name="per_page"
                        class="form-select d-inline-block w-auto"
                        onchange="this.form.page.value=1; this.form.submit()">
                    <option value="5"  {% if per_page|int == 5 %}selected{% endif %}>5 строк</option>
                    <option value="10" {% if per_page|int == 10 %}selected{% endif %}>10 строк</option>
                    <option value="25" {% if per_page|int == 25 %}selected{% endif %}>25 строк</option>
                    <option value="50" {% if per_page|int == 50 %}selected{% endif %}>50 строк</option>
                </select>
            </div>
        </div>

        {# скрытые параметры для сохранения фильтров/сортировки/страницы #}
        <input type="hidden" name="page"                value="{{ pagination.page if pagination else 1 }}">
        <input type="hidden" name="sort_by"             value="{{ sort_by }}">
        <input type="hidden" name="sort_dir"            value="{{ sort_dir }}">
    </form>

    <!-- Таблица данных -->
     {% if current_user.has_admin %}
        <form method="POST" action="{{ url_for('refdata_bp.gen_company_list') }}">
            {{ form.csrf_token }}


            <input type="hidden" name="sort_by"            value="{{ sort_by }}">
            <input type="hidden" name="sort_dir"           value="{{ sort_dir }}">
            <input type="hidden" name="per_page"           value="{{ per_page }}">
            <input type="hidden" name="page"               value="{{ pagination.page }}">
            <input type="hidden" name="gen_company_filter" value="{{ gen_company_filter }}">

            <!-- Кнопки сохранения изменений и добавления новой записи -->
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mt-3 mb-3">
                <div class="d-flex flex-wrap gap-2 align-items-center">
                    <button type="submit" class="btn btn-outline-primary">Сохранить изменения</button>
                    {% if current_user.has_admin %}<button type="submit" name="all_versions" value="1" class="btn btn-outline-success" title="Применить изменения ко всем версиям БД">Сохранить во всех версиях</button>{% endif %}
                </div>

                <a href="{{ url_for('refdata_bp.add_gen_company', 
                                    page=page,
                                    per_page=per_page,
                                    sort_by=sort_by,
                                    sort_dir=sort_dir,
                                    gen_company_filter=gen_company_filter,
                                    ) }}" class="btn btn-primary">
                    Добавить новую запись
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered table-responsive">
                    <thead class="table-success">
                        <tr>
                            <!-- Шапка таблицы. Столбец "№" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.gen_company_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            gen_company_filter=gen_company_filter, 
                                            sort_by='number', 
                                            sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    №
                                    {% if sort_by == 'number' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Генерирующая копмания" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.gen_company_list', 
                                                page=pagination.page, 
                                                per_page=per_page, 
                                                gen_company_filter=gen_company_filter, 
                                                sort_by='name', 
                                                sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                                class="text-black">
                                    Наименование генерирующей компании
                                    {% if sort_by == 'name' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Удалить" -->
                            <th class="text-center align-middle">Удалить</th>
                        </tr>
                    </thead>

                    <!-- Данные таблицы-->
                    <tbody>
                        {% for gen_company in gen_company_list %}
                            <tr>
                                <!-- Строки таблицы. Столбец "№" -->
                                <td class="text-center align-middle">
                                    {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                                    <input type="hidden" name="gen_company_ids[]" value="{{ gen_company.id }}">
                                </td>

                                <!-- Строки таблицы. Столбец "Генерирующая копмания" -->
                                <td>
                                    <input type="text" name="gen_company_names[]" class="form-control" value="{{ gen_company.name }}">
                                </td>

                                <!-- Строки таблицы. Столбец "Чекмарк для удаления" -->
                                <td class="text-center align-middle">
                                    <input type="checkbox" name="gen_company_delete[]" value="{{ gen_company.id }}" class="form-check-input">
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center align-middle">Нет данных для отображения</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
        <!-- Таблица с данными для чтения -->
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-responsive">
                <thead class="table-success">
                    <tr>
                        <!-- Шапка таблицы. Столбец "№" -->
                        <th class="text-center align-middle">
                            <a href="{{ url_for('refdata_bp.gen_company_list', 
                                        page=pagination.page, 
                                        per_page=per_page, 
                                        gen_company_filter=gen_company_filter, 
                                        sort_by='number', 
                                        sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                        class="text-black">
                                №
                                {% if sort_by == 'number' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                        <!-- Шапка таблицы. Столбец "Генерирующая копмания" -->
                        <th class="text-center align-middle">
                            <a href="{{ url_for('refdata_bp.gen_company_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            gen_company_filter=gen_company_filter, 
                                            sort_by='name', 
                                            sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                Наименование генерирующей компании
                                {% if sort_by == 'name' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>

                <!-- Данные таблицы-->
                <tbody>
                    {% for gen_company in gen_company_list %}
                        <tr>
                            <!-- Строки таблицы. Столбец "№" -->
                            <td class="text-center align-middle">
                                {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                            </td>

                            <!-- Строки таблицы. Столбец "Генерирующая копмания" -->
                            <td> {{ gen_company.name }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center align-middle">Нет данных для отображения</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <!-- Пагинация -->
    <div>
        {% include 'refdata/gen_companies/gen_company_pagination.html' %}
    </div>

</div>

<!-- Скрипт подстройки высоты строк под содержимое ячеек -->
<script src="{{ url_for('static', filename='js/refdata/textarea_autoresize.js') }}"></script>

{% endif %}
{% endblock %}
