{% extends 'base.html' %}

{% block title %}Создание новой электростанции{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}

{% set filters = [
    'page', 'condition_type_filter', 'gen_company_filter', 'station_name_filter',
    'station_type_filter', 'machine_type_filter', 'tes_type_filter', 'tes_machine_type_filter',
    'energy_system_type_filter', 'union_energy_system_filter', 'regional_energy_system_filter',
    'federal_district_filter', 'regional_district_filter', 'station_fuel_type_filter',
    'sort_by', 'sort_dir', 'per_page'
] %}

<div class="container-fluid mt-2">
    <div class="d-flex justify-content-end align-items-center flex-wrap gap-2">
        <a href="{{ url_for('start.index') }}" class="btn btn-secondary fs-5"> Главная страница </a>
        <a href="{{ url_for('generation_bp.generation_start') }}" class="btn btn-secondary fs-5">Модуль "Генерация"</a>
        <a href="{{ url_for('station_bp.station_list') }}" class="btn btn-secondary fs-5">Электростанции РФ</a>
        <a href="{{ url_for('refdata_bp.refdata') }}" class="btn btn-secondary fs-5"> Модуль "Справочники"</a>
    </div>

    <h2 class="mb-4">Создание новой электростанции</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="container-fluid mt-4">
            <div class="d-flex gap-4 justify-content-start">
                <div class="card mb-4 w-50">
                    <div class="card-body">
                        <p class="fs-5"><strong>Название:</strong> 
                            {{ form.name(class="fs-5 form-control d-inline-block w-auto") }}
                        </p>
                        <p class="fs-5"><strong>Субъект РФ:</strong> 
                            <span id="id_regional_district_span">
                                {{ form.id_regional_district(class="form-select d-inline-block w-auto fs-5", value=100) }}
                            </span>
                        </p>
                        <!-- Кнопка "Сохранить" -->
                        <button type="submit" class="btn btn-outline-primary">Создать станцию</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}
{% endblock %}
