<!-- Вторая строка фильтров -->
<div class="col-12 mb-2">
    <div class="collapse" id="importExportCollapse">

        <div class="d-flex justify-content-between align-items-start w-100 flex-nowrap">

            <!-- Левая часть (экспорт) -->
            <div class="d-flex gap-2">

                <!-- Экспорт в Excel -->
                <button id="exportExcelFull" class="btn btn-outline-success" style="white-space: nowrap;">
                    Экспорт списка отображаемых станций
                </button>

                <!-- СиПР -->
                <form method="GET" action="{{ url_for('station_bp.export_station_sipr_ees_application_2_routes') }}" id="exportSiprForm">
                    {% for key, value in request.args.items() %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                    <button type="button" id="exportExcelSipr" class="btn btn-outline-success" style="white-space: nowrap;">
                        Экспорт по форме Приложения 2 СиПРа
                    </button>
                </form>
            </div>

            <!-- Правая часть (импорт) -->
            <div class="d-flex align-items-center gap-2 ms-auto flex-wrap">
                {% if current_user.has_admin %}
                <!-- Импорт -->
                <form action="{{ url_for('station_bp.import_station_list_from_excel_routes') }}"
                    method="POST" enctype="multipart/form-data"
                    class="d-flex align-items-center">
                    {{ form.csrf_token }}
                    <input type="file" name="file" class="form-control me-2">
                    <button type="submit" class="btn btn-outline-danger" style="white-space: nowrap;">
                        Импорт
                    </button>
                </form>

                <!-- Подгрузка топлива -->
                <form action="{{ url_for('station_bp.import_fuel_tes_station_from_excel_routes') }}"
                    method="POST" enctype="multipart/form-data"
                    class="d-flex align-items-center">
                    {{ form.csrf_token }}
                    <input type="file" name="file" class="form-control me-2">
                    <button type="submit" class="btn btn-outline-danger" style="white-space: nowrap;">
                        Подгрузка топлива
                    </button>
                </form>
                {% endif %}
            </div>

        </div>
    </div>
</div>