{% extends 'base.html' %}

{% block title %}Страница "Электростанции"{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid mt-2">
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('start.index') }}" class="btn btn-secondary fs-5">Вернуться на главную страницу</a>
    </div>

    <h1 class="text-center mb-4">Таблица электростанций</h1>

    <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">
    <input type="hidden" name="start_year" value="{{ request.args.get('start_year', '') }}">
    <input type="hidden" name="end_year" value="{{ request.args.get('end_year', '') }}">
    <input type="hidden" name="condition_type_filter" value="{{ request.args.get('condition_type_filter', '') }}">
    <input type="hidden" name="gen_company_filter" value="{{ request.args.get('gen_company_filter', '') }}">
    <input type="hidden" name="station_name_filter" value="{{ request.args.get('station_name_filter', '') }}">
    <input type="hidden" name="station_type_filter" value="{{ request.args.get('station_type_filter', '') }}">
    <input type="hidden" name="machine_type_filter" value="{{ request.args.get('machine_type_filter', '') }}">
    <input type="hidden" name="tes_type_filter" value="{{ request.args.get('tes_type_filter', '') }}">
    <input type="hidden" name="tes_machine_type_filter" value="{{ request.args.get('tes_machine_type_filter', '') }}">
    <input type="hidden" name="energy_system_type_filter" value="{{ request.args.get('energy_system_type_filter', '') }}">
    <input type="hidden" name="union_energy_system_filter" value="{{ request.args.get('union_energy_system_filter', '') }}">
    <input type="hidden" name="regional_energy_system_filter" value="{{ request.args.get('regional_energy_system_filter', '') }}">
    <input type="hidden" name="federal_district_filter" value="{{ request.args.get('federal_district_filter', '') }}">
    <input type="hidden" name="regional_district_filter" value="{{ request.args.get('regional_district_filter', '') }}">
    <input type="hidden" name="station_fuel_type_filter" value="{{ request.args.get('station_fuel_type_filter', '') }}">
    <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'id') }}">
    <input type="hidden" name="sort_dir" value="{{ request.args.get('sort_dir', 'asc') }}">
    <input type="hidden" name="per_page" value="{{ request.args.get('per_page', 10) }}">

    <!-- Фильтры -->
    {% include 'stations/station_filters.html' %}

    <p><strong>Найдено станций: {{ total_count }}</strong></p>

    <!-- Таблица с данными -->
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-responsive">

            <!-- Шапка таблицы с данными -->
            <thead class="table-success">
                <tr class="text-center" style="word-wrap: break-word; text-align: center; vertical-align: middle;">
                    <th colspan="8">Электростанция</th>
                    <th colspan="{{ end_year - start_year + 2 }}">Мощность</th>
                    <th colspan="{{ end_year - start_year + 1 }}">Топливо</th>
                </tr>
                <tr class="text-center" style="word-wrap: break-word; text-align: center; vertical-align: middle;">
                    <th style="width: 50px;">гр.</th>
                    <th style="width: 80px;">cт. №</th>
                    <th style="width: 200px;">Тип агрегата</th>
                    <th style="width: 100px;">Год ввода</th>
                    
                    <!-- Тип электростанции -->
                    <th style="width: 150px; text-align: center;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle filter-button" type="button" data-bs-toggle="dropdown">
                                <strong>Тип эл.станции</strong>
                            </button>
                            <ul class="dropdown-menu w-100">
                                {% for station_type in station_type_name %}
                                    <li>
                                        <label class="dropdown-item">
                                            <input type="checkbox" name="station_type_filter"
                                                value="{{ station_type.id }}"
                                                {% if station_type.id|string in station_type_filter|map('string') %}checked{% endif %}
                                            >
                                            {{ station_type.name }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>

                    <!-- Тип ТЭС -->
                    <th style="width: 150px; text-align: center;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle filter-button" type="button" data-bs-toggle="dropdown">
                                <strong>Тип ТЭС</strong>
                            </button>
                            <ul class="dropdown-menu w-100">
                                {% for tes_type in tes_type_names %}
                                    <li>
                                        <label class="dropdown-item">
                                            <input type="checkbox" name="tes_type_filter"
                                                value="{{ tes_type.id }}"
                                                {% if tes_type.id|string in tes_type_filter|map('string') %}checked{% endif %}>
                                            {{ tes_type.name }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <!-- Тип агрегата ТЭС -->
                    <th style="width: 150px; text-align: center;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle filter-button" type="button" data-bs-toggle="dropdown">
                                <strong>Тип агрегата ТЭС</strong>
                            </button>
                            <ul class="dropdown-menu w-100">
                                {% for tes_machine_type in tes_machine_type_names %}
                                    <li>
                                        <label class="dropdown-item">
                                            <input type="checkbox" name="tes_machine_type_filter"
                                                value="{{ tes_machine_type.id }}"
                                                {% if tes_machine_type.id|string in tes_machine_type_filter|map('string') %}checked{% endif %}>
                                            {{ tes_machine_type.name }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th style="width: 100px;">Топливо <br> (по СО ЕЭС)</th>
                    <th style="width: 50px; text-align: center;">
                        Тип <br> мощ-ти
                    </th>
                    <!-- Столбцы для годов с start_year по end_year + 1 -->

                    {% for year in range(start_year, end_year + 1) %}
                    <th style="width: 50px; text-align: center;">
                        {{ year }}
                        <div class="text-wrap" style="word-wrap: break-word; white-space: normal;">
                            {% if year_features[year] is defined %}
                                {{ year_features[year].name }}
                            {% endif %}
                        </div>
                    </th>
                    {% endfor %}

                    <!-- Столбцы для годов с start_year по end_year + 1 -->

                    {% for year in range(start_year, end_year + 1) %}
                    <th style="width: 50px; text-align: center;">
                        {{ year }}
                        <div class="text-wrap" style="word-wrap: break-word; white-space: normal;">
                            {% if year_features[year] is defined %}
                                {{ year_features[year].name }}
                            {% endif %}
                        </div>
                    </th>
                    {% endfor %}
                </tr>
                </tr>
            </thead>

            <!-- Данные таблицы-->
            <tbody>
                {% for es_type_id, es_type_group in stations_grouped.items() %}
            
                    {% if request.args.get('per_page') == 'all' %}
                        {% include 'stations/aggregated_data/energy_system_types/energy_system_type_header.html' %}
                    {% endif %}
            
                    {% for ues_id, ues_group in es_type_group.items() %}
            
                        {% if request.args.get('per_page') == 'all' %}
                            {% include 'stations/aggregated_data/union_energy_systems/union_energy_system_header.html' %}
                        {% endif %}
            
                        {% for res_id, res_group in ues_group.items() %}
            
                            {% if request.args.get('per_page') == 'all' %}
                                {% include 'stations/aggregated_data/regional_energy_systems/regional_energy_system_header.html' %}
                            {% endif %}
            
                            {% for rd_id, rd_group in res_group.items() %}
            
                                {% if rd_id != 100 %}
                                    {% if request.args.get('per_page') == 'all' %}
                                        {% include 'stations/aggregated_data/regional_districts/regional_district_header.html' %}
                                    {% endif %}
            
                                    {% for eu_id, eu_group in rd_group.items() %}
            
                                        {% if eu_id != 100 %}
                                            {% if request.args.get('per_page') == 'all' %}
                                                {% include 'stations/aggregated_data/energy_units/energy_unit_header.html' %}
                                            {% endif %}
                                        {% endif %}
            
                                        {% for station in eu_group %}
                                            {% include 'stations/station_rows.html' %}
                                            {% include 'stations/aggregated_data/aggregated_station.html' %}
                                        {% endfor %}
            
                                        {# Итог по энергоузлу #}
                                        {% if request.args.get('per_page') == 'all' and eu_id != 100 %}
                                            {% set current_eu_id = eu_id %}
                                            {% include 'stations/aggregated_data/energy_units/aggregated_energy_units_total.html' %}
                                        {% endif %}
            
                                    {% endfor %}
            
                                    {# Итог по субъекту РФ #}
                                    {% if request.args.get('per_page') == 'all' %}
                                        {% set current_rd_id = rd_id %}
                                        {% include 'stations/aggregated_data/regional_districts/aggregated_regional_districts_total.html' %}
                                    {% endif %}
            
                                {% endif %}
            
                            {% endfor %}
            
                            {# Итог по региональной энергосистеме #}
                            {% if request.args.get('per_page') == 'all' %}
                                {% set current_res_id = res_id %}
                                {% include 'stations/aggregated_data/regional_energy_systems/aggregated_regional_energy_systems_total.html' %}
                            {% endif %}
            
                        {% endfor %}
            
                        {# Итог по объединённой энергосистеме #}
                        {% if request.args.get('per_page') == 'all' %}
                            {% set current_ues_id = ues_id %}
                                {% include 'stations/aggregated_data/union_energy_systems/aggregated_union_energy_systems_total.html' %}
                        {% endif %}
            
                    {% endfor %}
            
                    {# Итог по типу энергосистемы #}
                    {% if request.args.get('per_page') == 'all' %}
                        {% set current_es_type_id = es_type_id %}
                        {% include 'stations/aggregated_data/energy_system_types/aggregated_energy_system_types_total.html' %}
                    {% endif %}
            
                {% endfor %}
            
                {# Итог по России #}
                {% if request.args.get('per_page') == 'all' %}
                    {% include 'stations/aggregated_data/total_energy_system_types/aggregated_total_energy_system_types_total.html' %}
                {% endif %}
            </tbody>
            
        </table>
    </div>
</div>
{% endif %}

<!-- Пагинация -->
<div>
    {% include 'includes/pagination_station.html' %}
</div> 


<!-- Подключаем jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Подключаем Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


{% include 'stations/scripts/station_list_scripts.html' %}

{% include 'stations/scripts/station_list_show_all_script.html' %}


{% endblock %}