
<tr>
    <td class="text-center station-rowspan-td" colspan="4" style="vertical-align: middle; font-weight: bold;">
        {{ station.regional_district.name }}
    </td>
    <td class="text-center" colspan="3" style="vertical-align: middle; font-weight: bold;">
        <a href="{{ url_for('station_bp.station_details', station_id=station.id, **request.args) }}" class="text-decoration-none">
            {{ station.name }}
        </a>
    </td>
    <td class="text-center" colspan="4" style="vertical-align: middle; font-weight: bold;">
        {{ station.gen_companies if station.gen_companies else '—' }}
    </td>
    <td class="text-center" colspan="{{ 3 + 2 * (end_year - start_year) }} style="vertical-align: middle; font-weight: bold;">
    </td>
    <td class="text-center" style="vertical-align: middle; font-weight: bold;">
        {{ station.note if station.note }}
    </td>
</tr>

{% for machine in station.machines %}
    <!-- Первая строка: p_ust -->
    <tr class="text-center machine-row" style="vertical-align: middle;">
        {% if machine.group_rowspan > 0 %}
            <td class="fuel-cell" rowspan="{{ machine.group_rowspan }}">{{ machine.machine_group }}</td>
        {% endif %}
        <td class="rowspan-td" rowspan="3">{{ machine.machine_number }}</td>
        <td class="rowspan-td" rowspan="3">
            <a href="{{ url_for('station_bp.machine_details', station_id=station.id, machine_id=machine.id, **request.args) }}" class="text-decoration-none">
                {{ machine.machine_name }}
            </a></td>
        <td class="rowspan-td" rowspan="3">{{ machine.date_exploitation if machine.date_exploitation else '—'}}</td>
        <td class="rowspan-td" rowspan="3">{{ machine.date_decompressing_expected if machine.date_decompressing_expected else '—'}}</td>
        <td class="rowspan-td" rowspan="3">{{ machine.date_modernization_expected if machine.date_modernization_expected else '—'}}</td>
        <td class="rowspan-td" rowspan="3">{{ machine.station_type.name if machine.station_type.name else '—'}}</td>
        
        <td class="rowspan-td" rowspan="3">{{ machine.tes_types or '—' }}</td>

        <td class="rowspan-td" rowspan="3">
            {% if machine.tes_machine_type and machine.tes_machine_type.id != 100 %}
                {{ machine.tes_machine_type.name }}
            {% else %}
                &mdash;
            {% endif %}
        </td>

        <td class="rowspan-td" rowspan="3" style="font-weight: bold;">
            {{ machine.primary_fuel_type or "—" }}
        </td>

        {% if machine.fuel_rowspan > 0 %}
            <td class="fuel-cell" rowspan="{{ machine.fuel_rowspan }}">{{ machine.fuel_so if machine.fuel_so else '—' }}</td>
        {% endif %}
        
        <td class="text-center" style="font-weight: bold;">Руст</td>
        {% for year in range(start_year, end_year + 1) %}
            <td class="text-center power-column">
                {% set p_ust_value = machine.powers_by_year.get(year, {}).get("p_ust") %}
                {% if p_ust_value is none or p_ust_value == 0 %}
                    &mdash;
                {% else %}
                    {{ p_ust_value | format_decimal }}
                {% endif %}
            </td>
        {% endfor %}


        {% for year in range(start_year, end_year + 1) %}
            <td class="fuel-column rowspan-td" rowspan="3">
                {% set fuel = machine.machine_fuels
                            | selectattr('year.number', 'equalto', year)
                            | map(attribute='fuel')
                            | first %}
                {% if fuel %}
                    {% if fuel.fuel_type.id == 100 %}
                        &mdash;
                    {% else %}
                        {{ fuel.fuel_type.name }}
                    {% endif %}
                {% else %}
                    &mdash;
                {% endif %}
            </td>
        {% endfor %}

        <td class="rowspan-td" rowspan="3">
            {{ machine.note if machine.note }}
        </td>
    </tr>

    <!-- Вторая строка: p_ogr -->
    <tr class="text-center p-ogr-row">
        <td class="text-center" style="font-weight: bold;">Рогр</td>
        {% for year in range(start_year, end_year + 1) %}
            <td class="power-column">
                {% set p_ogr_value = machine.powers_by_year.get(year, {}).get("p_ogr") %}
                {% if p_ogr_value == 0 %}
                    &mdash;
                {% else %}
                    {% if p_ogr_value == None %}

                    {% else %}
                        {{ p_ogr_value | format_decimal }}
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>

    <!-- Третья строка: p_rasp -->
    <tr class="text-center p-rasp-row">
        <td class="text-center" style="font-weight: bold;">Ррасп</td>
        {% for year in range(start_year, end_year + 1) %}
            <td class="power-column">
                {% set p_rasp_value = machine.powers_by_year.get(year, {}).get("p_rasp") %}
                {% if p_rasp_value == 0 %}
                    &mdash;
                {% else %}
                    {% if p_rasp_value == None %}

                    {% else %}
                        {{ p_rasp_value | format_decimal }}
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}