<!-- Вторая строка фильтров -->
<div class="col-12 mb-2">
    <div class="collapse mt-2" id="importExportCollapse">

        <div class="d-flex justify-content-between align-items-start w-100 flex-nowrap">

            <!-- Левая часть (импорт) -->
            <div class="d-flex align-items-center gap-2 flex-nowrap me-4">
            </div>

            <!-- Правая часть (экспорт) -->
            <div class="d-flex align-items-center gap-2 flex-nowrap ms-4">

                <!-- СиПР -->
                <form method="GET" action="{{ url_for('station_bp.export_station_sipr_ees_application_2_routes') }}">
                    {{ form.csrf_token }}
                    {% for key, value in request.args.items() %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                </form>

                <!-- Экспорт в Excel -->
                <form id="exportExcelFormFull" method="GET" action="{{ url_for('station_bp.export_station_full_routes') }}">
                    {{ form.csrf_token }}
                    {% for key, value in request.args.items() %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                    <button type="submit" id="exportExcelFull"  class="btn btn-outline-success" style="white-space: nowrap;">
                        Экспорт в Excel
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>