<!-- Первая строка фильтров -->
<div class="col-12 mb-2">

    <div class="collapse mt-2" id="filtersCollapse">

        <form method="GET" action="{{ url_for('station_changes_bp.station_changes_list') }}" class="d-flex flex-nowrap align-items-center w-100 gap-1">
            <!-- Вставляем скрытые input'ы, чтобы передавать уже выбранные фильтры -->
            {% for key, value in request.args.items() %}
                {% if key not in ["energy_system_type_filter", "union_energy_system_filter", "regional_energy_system_filter", "federal_district_filter", "regional_district_filter", "gen_company_filter", "station_name_filter"] %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
            {% endfor %}

            <!-- Тип энергосистемы -->
            <div class="filter-item" style="width: 15%;">
                <select id="energy_system_type" name="energy_system_type_filter" class="form-select select2" multiple>
                    <option></option>
                    {% for energy_system_type in energy_system_type_list %}
                        <option value="{{ energy_system_type.id }}" 
                            {% if energy_system_type.id|string in energy_system_type_filter|map('string') %}selected{% endif %}>
                            {{ energy_system_type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- ОЭС -->
            <div class="filter-item" style="width: 15%;">
                <select id="union_energy_system" name="union_energy_system_filter" class="form-select select2" multiple>
                    <option></option>
                    {% for union_energy_system in union_energy_system_list %}
                        <option value="{{ union_energy_system.id }}" 
                            {% if union_energy_system.id|string in union_energy_system_filter|map('string') %}selected{% endif %}>
                            {{ union_energy_system.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Региональная ЭС -->
            <div class="filter-item" style="width: 15%;">
                <select id="regional_energy_system" name="regional_energy_system_filter" class="form-select select2" multiple>
                    <option></option>
                    {% for regional_energy_system in regional_energy_system_list %}
                        <option value="{{ regional_energy_system.id }}" 
                            {% if regional_energy_system.id|string in regional_energy_system_filter|map('string') %}selected{% endif %}>
                            {{ regional_energy_system.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Федеральный округ -->
            <div class="filter-item" style="width: 15%;">
                <select id="federal_district" name="federal_district_filter" class="form-select select2" multiple>
                    <option></option>
                    {% for federal_district in federal_district_list %}
                        <option value="{{ federal_district.id }}" 
                            {% if federal_district.id|string in federal_district_filter|map('string') %}selected{% endif %}>
                            {{ federal_district.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Субъект РФ -->
            <div class="filter-item" style="width: 15%;">
                <select id="regional_district" name="regional_district_filter" class="form-select select2" multiple>
                    <option></option>
                    {% for regional_district in regional_district_list %}
                        <option value="{{ regional_district.id }}" 
                            {% if regional_district.id|string in regional_district_filter|map('string') %}selected{% endif %}>
                            {{ regional_district.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Электростанция -->
            <div class="filter-item" style="width: 15%;">
                {{ form.station_name_filter(class="form-control", value=station_name_filter if station_name_filter else '', placeholder="Электростанция") }}
            </div>
    
            <!-- Генерирующая компания -->
            <div class="filter-item" style="width: 15%;">
                {{ form.gen_company_filter(class="form-control", value=gen_company_filter if gen_company_filter else '', placeholder="Генерирующая компания") }}
            </div>
                
            <!-- Кнопки -->
            <div class="filter-item">
                <button type="submit" class="btn btn-outline-primary w-100">Поиск</button>
            </div>
    
            <div class="filter-item">
                <a href="{{ url_for('station_changes_bp.station_changes_list') }}" class="btn btn-outline-danger w-100">Сбросить</a>
            </div>
        </form>
    </div>
</div>