<!-- Вторая строка фильтров -->
<div class="col-12 mb-2">
    <div class="collapse" id="importExportCollapse">

        <div class="d-flex justify-content-between align-items-start w-100 flex-nowrap">

            <!-- Левая часть (экспорт) -->
            <div class="d-flex align-items-center gap-2 flex-nowrap me-4">
                <button id="exportStationChangesExcel" class="btn btn-outline-success" style="white-space: nowrap;">
                    Экспорт изменений в Excel
                </button>
            </div>

            <!-- Правая часть (импорт) -->
            <div class="d-flex align-items-center gap-2 flex-nowrap ms-4">
            </div>

        </div>
    </div>
</div>