<!-- Итоговые значения по всем ВИЭ -->
{% if (
    total_energy_system_types_by_station_types_yearly_p_ust.get(ns.ves_id)
    or total_energy_system_types_by_station_types_yearly_p_ust.get(ns.ses_id)
) %}
<!-- Первая строка: p_ust -->
    <tr class="table-danger text-center total-power-row" style="vertical-align: middle;">
        <td class="total-row-cell" rowspan="3" style="font-weight: bold;">
            ВИЭ
        </td>
        <td class="fw-bold">Руст</td>
        {% for y in range(start_year, end_year + 1) %}
            {% set ves = total_energy_system_types_by_station_types_yearly_p_ust.get(ns.ves_id, {}).get(y) %}
            {% set ses = total_energy_system_types_by_station_types_yearly_p_ust.get(ns.ses_id, {}).get(y) %}
            {% set val = (ves | float if ves is not none else 0) + (ses | float if ses is not none else 0) %}
            <td class="power-column" style="font-weight: bold;">
                {% if val is none or val == 0 %}
                    &mdash;
                {% else %}
                    {{ val | format_decimal }}
                {% endif %}
                </td>
            {% endfor %}
    </tr>

    <!-- Вторая строка: p_ogr -->
    <tr class="table-danger text-center p-ogr-row">
        <td class="fw-bold">Рогр</td>
        {% for y in range(start_year, end_year + 1) %}
            {% set v1 = total_energy_system_types_by_station_types_yearly_p_ogr.get(ns.ves_id, {}).get(y) %}
            {% set v2 = total_energy_system_types_by_station_types_yearly_p_ogr.get(ns.ses_id, {}).get(y) %}
            {% set val = (v1 | float if v1 is not none else 0) + (v2 | float if v2 is not none else 0) %}
            <td class="power-column" style="font-weight: bold;">
                {% if val is none or val == 0 %}
                    &mdash;
                {% else %}
                    {{ val | format_decimal }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>

    <!-- Третья строка: p_rasp -->
    <tr class="table-danger text-center p-rasp-row">
        <td class="fw-bold">Ррасп</td>
        {% for y in range(start_year, end_year + 1) %}
            {% set v1 = total_energy_system_types_by_station_types_yearly_p_rasp.get(ns.ves_id, {}).get(y) %}
            {% set v2 = total_energy_system_types_by_station_types_yearly_p_rasp.get(ns.ses_id, {}).get(y) %}
            {% set val = (v1 | float if v1 is not none else 0) + (v2 | float if v2 is not none else 0) %}
            <td class="power-column" style="font-weight: bold;">
                {% if val is none or val == 0 %}
                    &mdash;
                {% else %}
                    {{ val | format_decimal }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>


    {#-- Отдельно по ВЭС и СЭС --#}
    {% for station_type_id in [ns.ves_id, ns.ses_id] %}
        {% set has_data = total_energy_system_types_by_station_types_yearly_p_ust
                            .get(station_type_id) %}

        {% if has_data %}
            <!-- Первая строка: p_ust -->
            <tr class="table-danger text-center total-power-row" style="vertical-align: middle;">
                <td class="total-row-cell" rowspan="3" style="font-weight: bold; padding-left: 6cm;">
                    {{ station_type_list.get(station_type_id, 'Неизвестный тип') }}
                </td>
                <td class="fw-bold">Руст</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column">
                        {% set p_ust_value = total_energy_system_types_by_station_types_yearly_p_ust.get(station_type_id, {}).get(y, 0) %}
                        {% if p_ust_value is none or p_ust_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_ust_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <!-- Вторая строка: p_ogr -->
            <tr class="table-danger text-center p-ogr-row">
                <td class="fw-bold">Рогр</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column">
                        {% set p_ogr_value = total_energy_system_types_by_station_types_yearly_p_ogr.get(station_type_id, {}).get(y, 0) %}
                        {% if p_ogr_value is none or p_ogr_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_ogr_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <!-- Третья строка: p_rasp -->
            <tr class="table-danger text-center p-rasp-row">
                <td class="fw-bold">Ррасп</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column">
                        {% set p_rasp_value = total_energy_system_types_by_station_types_yearly_p_rasp.get(station_type_id, {}).get(y, 0) %}
                        {% if p_rasp_value is none or p_rasp_value == 0 %}
                            &mdash;
                        {% else %}
                            {{ p_rasp_value | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}

{% endif %}










