<!-- Пагинация -->
<nav class="mt-4">
  <ul class="pagination justify-content-center">
      {% if pagination.has_prev %}
          <li class="page-item">
              <a class="page-link" 
              href="{{ url_for(  'refdata_bp.station_type_list', 
                                  page=pagination.prev_num, 
                                  per_page=per_page, 
                                  sort_by=sort_by, 
                                  sort_dir=sort_dir,
                                  station_type_filter=station_type_filter,
                              ) }}">
                  &laquo; Назад
              </a>
          </li>
      {% else %}
          <li class="page-item disabled"><a class="page-link">&laquo; Назад</a></li>
      {% endif %}

      {% for page in pagination.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
          {% if page %}
              {% if page == pagination.page %}
                  <li class="page-item active"><a class="page-link">{{ page }}</a></li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link" 
                      href="{{ url_for(  'refdata_bp.station_type_list', 
                                          page=page, 
                                          per_page=per_page, 
                                          sort_by=sort_by, 
                                          sort_dir=sort_dir,
                                          station_type_filter=station_type_filter,
                                      ) }}">
                          {{ page }}
                      </a>
                  </li>
              {% endif %}
          {% else %}
              <li class="page-item disabled"><a class="page-link">…</a></li>
          {% endif %}
      {% endfor %}

      {% if pagination.has_next %}
      <li class="page-item">
          <a class="page-link" 
          href="{{ url_for(  'refdata_bp.station_type_list', 
                              page=pagination.next_num, 
                              per_page=per_page, 
                              sort_by=sort_by, 
                              sort_dir=sort_dir,
                              station_type_filter=station_type_filter,
                              ) }}">
              Вперед &raquo;
          </a>
      </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">Вперед &raquo;</a></li>
      {% endif %}
  </ul>
</nav>