<!-- Разбивка по типам ТЭС и видам топлива -->
{% for fuel_type_id, fuel_type_name in fuel_type_list.items() %}
    {% set has_fuels = energy_units_by_tes_types_with_fuel_yearly_p_ust
        .get(eu_id, {}).get(tes_type_id, {}).get(fuel_type_id, {}) %}

    {% if has_fuels %}
        <tr class="text-center total-power-row" style="vertical-align: middle;">
            <td class="total-row-cell" rowspan="3" colspan="8" style="font-weight: bold; padding-left: 6cm;">
                {{ fuel_type_name }}
            </td>
            <td class="fw-bold">Руст</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ energy_units_by_tes_types_with_fuel_yearly_p_ust
                        .get(eu_id, {}).get(tes_type_id, {}).get(fuel_type_id, {}).get(y, "—") }}
                </td>
            {% endfor %}
        </tr>
        <tr class="text-center p-ogr-row">
            <td class="fw-bold">Рогр</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ energy_units_by_tes_types_with_fuel_yearly_p_ogr
                        .get(eu_id, {}).get(tes_type_id, {}).get(fuel_type_id, {}).get(y, "—") }}
                </td>
            {% endfor %}
        </tr>
        <tr class="text-center p-rasp-row">
            <td class="fw-bold">Ррасп</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ energy_units_by_tes_types_with_fuel_yearly_p_rasp
                        .get(eu_id, {}).get(tes_type_id, {}).get(fuel_type_id, {}).get(y, "—") }}
                </td>
            {% endfor %}
        </tr>
    {% endif %}
{% endfor %}
