<!-- Итоговые значения по-станционно -->

<!-- Первая строка: p_ust -->
<tr class="text-center total-power-row" style="vertical-align: middle;">
    <td class="total-row-cell" rowspan="{{ station_totals[station.id]['summary_rows'] }}" colspan="11" style="font-weight: bold;">
        Всего по станции:
    </td>
    <td class="text-center" style="font-weight: bold;">Руст</td>
    {% for year in range(start_year, end_year + 1) %}
    <td style="font-weight: bold;">
        {% set p_ust_value = station.powers_by_year
                            .get(year, {})
                            .get("p_ust", "-") %}
        {% if p_ust_value == 0 %}
            &mdash;
        {% else %}
            {{ p_ust_value | format_decimal}}
        {% endif %}
    </td>
    {% endfor %}
    <td class="text-center" colspan="{{ 3 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
    </td>
</tr>

<!-- Вторая строка: p_ogr -->
 {% if show_p_ogr %}
    <tr class="text-center p-ogr-row station-ogr-row">
        <td class="text-center station-ogr-row" style="font-weight: bold;">Рогр</td>
        {% for year in range(start_year, end_year + 1) %}
        <td style="font-weight: bold;">
            {% set p_ogr_value = station.powers_by_year
                                .get(year, {})
                                .get("p_ogr", "-") %}
            {% if p_ogr_value == 0 %}
                &mdash;
            {% else %}
                {{ p_ogr_value | format_decimal}}
            {% endif %}
        </td>
        {% endfor %}
        <td class="text-center" colspan="{{ 3 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
        </td>
    </tr>
{% endif %}

<!-- Третья строка: p_rasp -->
 {% if show_p_rasp %}
    <tr class="text-center">
        <td class="text-center p-rasp-row station-rasp-row" style="font-weight: bold;">Ррасп</td>
        {% for year in range(start_year, end_year + 1) %}
        <td style="font-weight: bold;">
            {% set p_rasp_value = station.powers_by_year
                                .get(year, {})
                                .get("p_rasp", "-") %}
            {% if p_rasp_value == 0 %}
                &mdash;
            {% else %}
                {{ p_rasp_value | format_decimal}}
            {% endif %}
        </td>
        {% endfor %}
        <td class="text-center" colspan="{{ 3 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
        </td>
    </tr>
{% endif %}