{% extends 'base.html' %}

{% block title %}Добавить новый энергоузел{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container mt-5">
    <h2 class="mb-4"><i class="fas fa-plus-circle"></i> Добавить энергоузел</h2>

    <!-- Форма ввода данных -->
    <form action="{{ url_for('app_bp.add_energy_unit_routes') }}" method="POST">
        {{ form.hidden_tag() }}
        
        <!-- Скрытые поля для сохранения параметров предыдущей страницы -->
        <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'id') }}">
        <input type="hidden" name="sort_dir" value="{{ request.args.get('sort_dir', 'asc') }}">
        <input type="hidden" name="energy_unit_filter" value="{{ request.args.get('energy_unit_filter', '') }}">
        <input type="hidden" name="regional_district_filter" value="{{ request.args.get('regional_district_filter', '') }}">
        <input type="hidden" name="regional_energy_system_filter" value="{{ request.args.get('regional_energy_system_filter', '') }}">
        <input type="hidden" name="union_energy_system_filter" value="{{ request.args.get('union_energy_system_filter', '') }}">
        <input type="hidden" name="per_page" value="{{ request.args.get('per_page', 10) }}">
        <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">

        <!-- Название -->
        <div class="mb-3">
            <strong for="name" class="form-label">Название энергоузла</strong>
            {{ form.name(class="form-control", id="name") }}
            {% if form.name.errors %}
                <div class="text-danger">
                    {{ form.name.errors|join(', ') }}
                </div>
            {% endif %}
        </div>

        <!-- Выбор Субъекта РФ -->
        <div class="mb-3">
            <strong for="regional_district" class="form-label">Субъект РФ</strong>
            <select name="regional_district" id="oesDropdown" class="form-select">
                <option value="">Все субъекты РФ</option>
                {% for regional_district in form.regional_district.choices %}
                    <option value="{{ regional_district[0] }}" {% if form.regional_district.data and regional_district[0] == form.regional_district.data %}selected{% endif %}>
                        {{ regional_district[1] }}
                    </option>
                {% endfor %}
            </select>
            
            <strong for="regional_energy_system" class="form-label">Региональная энергосистема</strong>
            <select name="regional_energy_system" id="oesDropdown" class="form-select">
                <option value="">Все региональные энергосистемы</option>
                {% for regional_energy_system in form.regional_energy_system.choices %}
                    <option value="{{ regional_energy_system[0] }}" {% if form.regional_energy_system.data and regional_energy_system[0] == form.regional_energy_system.data %}selected{% endif %}>
                        {{ regional_energy_system[1] }}
                    </option>
                {% endfor %}
            </select>

            <!-- Ошибки валидации -->
            {% if form.regional_district.errors %}
                <div class="text-danger">
                    {{ form.regional_district.errors|join(', ') }}
                </div>
            {% endif %}
        </div>

        <!-- Кнопки сохранения записи и возвращения назад -->
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Добавить</button>

            <a href="{{ url_for('app_bp.energy_unit_list', 
                        sort_by=request.args.get('sort_by', 'id'),
                        sort_dir=request.args.get('sort_dir', 'asc'),
                        energy_unit_filter=request.args.get('energy_unit_filter', ''),
                        regional_district_filter=request.args.get('regional_district_filter', ''),
                        regional_energy_system_filter=request.args.get('regional_energy_system_filter', ''),
                        union_energy_system_filter=request.args.get('union_energy_system_filter', ''),
                        per_page=request.args.get('per_page', 10),
                        page=request.args.get('page', 1)) }}" 
                        class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>


<script>
    // Обработчик изменения состояния чекбоксов
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('.region-checkbox');
        const selectedRegionsText = document.getElementById('selectedRegionsText');

        // Функция для обновления текста выбранных субъектов
        function updateSelectedRegions() {
            const selected = Array.from(checkboxes)
                .filter(checkbox => checkbox.checked)
                .map(checkbox => checkbox.getAttribute('data-region-name'));
            
            selectedRegionsText.textContent = selected.length > 0 ? selected.join(', ') : 'Ничего не выбрано';
        }

        // Добавляем слушатели событий изменения для чекбоксов
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateSelectedRegions);
        });

        // Инициализируем отображение выбранных субъектов
        updateSelectedRegions();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const radios = document.querySelectorAll('.form-check-input');
        const selectedOesText = document.getElementById('selectedOesText');

        // Обновление текста выбранного значения
        function updateSelectedOes() {
            const selected = Array.from(radios).find(radio => radio.checked);
            selectedOesText.textContent = selected ? selected.getAttribute('data-oes-name') : 'Ничего не выбрано';
        }

        // Добавление обработчиков событий
        radios.forEach(radio => {
            radio.addEventListener('change', updateSelectedOes);
        });

        // Инициализация отображения
        updateSelectedOes();
    });
</script>

{% endif %}
{% endblock %}
