{% extends 'base.html' %}

{% block title %}Топливо{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid mt-2">
    <div class="container">
        <div class="container-fluid">
            <div class="row g-4 justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="card shadow-sm w-100">
                        <div class="card-body text-center">
                            <a href="{{ url_for('fuel_bp.stations_equipment_groups') }}" class="btn btn-primary fs-4 w-100 py-4">
                                Группы оборудования электростанций
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card shadow-sm w-100">
                        <div class="card-body text-center">
                            <a href="{{ url_for('fuel_bp.stations_turbines') }}" class="btn btn-primary fs-4 w-100 py-4">
                                Турбины электростанций
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card shadow-sm w-100">
                        <div class="card-body text-center">
                            <a href="{{ url_for('fuel_bp.stations_equipment_group_fuel_params') }}" class="btn btn-primary fs-4 w-100 py-4">
                                Топливные параметры групп оборудования (основные)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card shadow-sm w-100">
                        <div class="card-body text-center">
                            <a href="{{ url_for('fuel_bp.stations_equipment_group_extra_fuel_params') }}" class="btn btn-primary fs-4 w-100 py-4">
                                Топливные параметры групп оборудования (дополнительные)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Разделительная линия -->
<hr class="my-5 border border-secondary opacity-50">

<div class="container">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('fuel_bp.fuel_refdata_start') }}" class="btn btn-primary fs-4 w-100 py-4">
                            Справочники из БД Топлива
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
