{% extends 'base.html' %}

{% block title %}Страница "Региональные энергосистемы"{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Кнопка возврата на главную страницу -->
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('app_bp.reference') }}" class="btn btn-secondary">
            Вернуться на страницу "Справочники"
        </a>
    </div>

    <h1 class="text-center mb-4">Список региональных энергосистем</h1>

    <form method="GET" action="{{ url_for('app_bp.res_list') }}" class="mb-3">
        <div class="d-flex justify-content-between align-items-start w-100">
            <!-- Блок с полем для поиска -->
            <div class="d-flex align-items-start w-100">
                <!-- Поле для ввода текста -->
                <div class="me-2 w-75">
                    {{ form.res_filter(class="form-control", value=res_filter, placeholder="Поиск по региональной энергосистеме") }}
                </div>
    
                <!-- Кнопки "Поиск" и "Сбросить поиск" -->
                <div class="d-flex">
                    <button type="submit" class="btn btn-outline-primary me-2" style="width: 120px;">Поиск</button>
                    <a href="{{ url_for('app_bp.res_list') }}" class="btn btn-outline-secondary" style="width: 120px;">Сбросить</a>
                </div>                
            </div>
            
            <!-- Блок выбора количества строк для отображения -->
            <div class="ms-3">
                <select name="per_page" class="form-select" style="width: 150px;" onchange="this.form.submit()">
                    <option value="5" {% if per_page == 5 %}selected{% endif %}>5 строк</option>
                    <option value="10" {% if per_page == 10 %}selected{% endif %}>10 строк</option>
                    <option value="25" {% if per_page == 25 %}selected{% endif %}>25 строк</option>
                    <option value="50" {% if per_page == 50 %}selected{% endif %}>50 строк</option>
                </select>
            </div>
        </div>
    </form>

    <!-- Таблица данных -->
    <form method="POST" action="{{ url_for('app_bp.res_list') }}">
        {{ form.csrf_token }}
        {{ form.page(value=pagination.page) }} <!-- Скрытое поле для текущей страницы -->

        <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'id') }}">
        <input type="hidden" name="sort_dir" value="{{ request.args.get('sort_dir', 'asc') }}">
        <input type="hidden" name="res_filter" value="{{ request.args.get('res_filter', '') }}">
        <input type="hidden" name="oes_filter" value="{{ request.args.get('oes_filter', '') }}">
        <input type="hidden" name="per_page" value="{{ request.args.get('per_page', 10) }}">
        <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">

        <!-- Кнопки сохранения изменений и добавления новой записи -->
        <div class="d-flex justify-content-between mt-3 mb-3">
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
            
            <a href="{{ url_for('app_bp.add_res_routes', 
            sort_by=request.args.get('sort_by', 'id'),
            sort_dir=request.args.get('sort_dir', 'asc'),
            res_filter=request.args.get('res_filter', ''),
            oes_filter=request.args.get('oes_filter', ''),
            per_page=request.args.get('per_page', 10),
            page=request.args.get('page', 1)) }}" class="btn btn-primary">
            Добавить новую запись
        </a>
        </div>
       
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-responsive">
                <thead class="table-dark">
                    <tr>
                        <!-- Шапка таблицы. Столбец "№" -->
                        <th class="text-center">
                            <a href="{{ url_for('app_bp.res_list', 
                            page=pagination.page, 
                            per_page=per_page, 
                            res_filter=res_filter,
                            oes_filter=oes_filter, 
                            sort_by='number', 
                            sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" class="text-white">
                                №
                                {% if sort_by == 'number' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                        <!-- Шапка таблицы. Столбец "Региональная энергосистема" -->
                        <th class="text-center">
                            <a href="{{ url_for('app_bp.res_list', 
                            page=pagination.page, 
                            per_page=per_page, 
                            res_filter=res_filter,
                            oes_filter=oes_filter, 
                            sort_by='name', 
                            sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" class="text-white">
                                Региональная энергосистема
                                {% if sort_by == 'name' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                        <!-- Шапка таблицы. Столбец "Субъекты РФ" -->
                        <th colspan="2" class="text-center">Субъекты РФ</th>

                        <!-- Шапка таблицы. Столбец "ОЭС" -->
                        <th class="text-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="mx-auto">
                                    <a href="{{ url_for('app_bp.res_list', 
                                    page=pagination.page, 
                                    res_filter=res_filter,
                                    oes_filter=oes_filter,
                                    per_page=per_page,
                                    sort_by='oes', 
                                    sort_dir='asc' if sort_by != 'oes' or sort_dir == 'desc' else 'desc') }}" 
                                    class="text-white text-decoration-underline text-decoration-none">
                                        ОЭС
                                        {% if sort_by == 'oes' %}
                                            {% if sort_dir == 'asc' %}
                                                ▲
                                            {% else %}
                                                ▼
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                </span>
                                <!-- Кнопка выпадающего списка фильтра -->
                                <div class="dropdown">
                                    <button 
                                        class="btn btn-secondary btn-sm dropdown-toggle" 
                                        type="button" 
                                        id="oesFilterDropdown" 
                                        data-bs-toggle="dropdown" 
                                        aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="oesFilterDropdown">
                                        <li>
                                            <a href="{{ url_for('app_bp.res_list', 
                                                page=pagination.page, 
                                                res_filter=res_filter,
                                                oes_filter='',
                                                per_page=per_page,
                                                sort_by=sort_by,
                                                sort_dir=sort_dir) }}" class="dropdown-item">
                                                Все ОЭС
                                            </a>
                                        </li>
                                        {% for oes_id, oes_name in oes_list %}
                                            {% if oes_name != 'Не указан' %}
                                                <li>
                                                    <a href="{{ url_for('app_bp.res_list', 
                                                        page=pagination.page, 
                                                        res_filter=res_filter,
                                                        oes_filter=oes_id,
                                                        per_page=per_page,
                                                        sort_by=sort_by,
                                                        sort_dir=sort_dir) }}" class="dropdown-item">
                                                        {{ oes_name }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </th>

                        <!-- Шапка таблицы. Столбец "Удалить" -->
                        <th class="text-center">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in res_list %}
                    <tr class="text-center">
                        <!-- Строки таблицы. Столбец "№" -->
                         <td>
                            {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                            <input type="hidden" name="res_ids[]" value="{{ item.id }}">
                        </td>

                        <!-- Строки таблицы. Столбец "Региональная энергосистема" -->
                        <td>
                            <textarea 
                                name="res_names[]" 
                                class="form-control" 
                                style="overflow-wrap: break-word; white-space: normal; border: none; resize: none; width: 100%; background: transparent; height: auto;" 
                                rows="1"
                                oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';">{{ item.name }}</textarea>
                        </td>     
                                
                        <!-- Строки таблицы. Столбец "Перечень субъектов РФ, к которым относится региональная энергосистема" -->
                        <td>
                            <div id="selected-regions-{{ item.id }}">
                                <span class="form-control" style="overflow-wrap: break-word; white-space: normal; border: none; resize: none; width: 100%; background: transparent; height: auto;">
                                    {% for region in regions_list %}
                                        {% if region.id in item.region_ids %}
                                            {{ region.name }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </td>
                                
                        <!-- Строки таблицы. Столбец "Выпадающий список субъектов РФ, к которым относится региональная энергосистема" -->
                        <td>
                            <div class="dropdown">
                                <button 
                                    class="btn btn-secondary dropdown-toggle" 
                                    type="button" 
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false">
                                    Изменить
                                </button>
                                <ul class="dropdown-menu" style="min-width: auto; width: auto;">
                                    {% for region in regions_list %}
                                    <li>
                                        <div class="form-check">
                                            <input 
                                                class="form-check-input" 
                                                type="checkbox" 
                                                name="region_ids_{{ item.id }}[]" 
                                                value="{{ region.id }}" 
                                                id="region_{{ item.id }}_{{ region.id }}" 
                                                {% if region.id in item.region_ids %}checked{% endif %}>
                                            <label class="form-check-label" for="region_{{ item.id }}_{{ region.id }}">
                                                {{ region.name }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>                            
                        </td>   

                        <!-- Строки таблицы. Столбец "ОЭС" -->
                        <td>
                            <select name="oes[]" class="form-select">
                                {% for oes in oes_list %}
                                <option value="{{ oes[0] }}" {% if oes[0] == item.id_oes %}selected{% endif %}>
                                    {{ oes[1] }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>

                        <!-- Строки таблицы. Столбец "Чекмарк для удаления" -->
                        <td class="text-center">
                            <input type="checkbox" name="res_delete[]" value="{{ item.id }}" class="form-check-input">
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Нет данных для отображения</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <!-- Пагинация -->
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('app_bp.res_list', page=pagination.prev_num, res_filter=res_filter, oes_filter=oes_filter, per_page=per_page, sort_by=sort_by, sort_dir=sort_dir) }}">
                    &laquo; Назад
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo; Назад</a></li>
            {% endif %}

            {% for page in pagination.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
            {% if page %}
                {% if page == pagination.page %}
                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('app_bp.res_list', page=page, res_filter=res_filter, oes_filter=oes_filter, per_page=per_page, sort_by=sort_by, sort_dir=sort_dir) }}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
            {% else %}
            <li class="page-item disabled"><a class="page-link">…</a></li>
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('app_bp.res_list', page=pagination.next_num, res_filter=res_filter,  oes_filter=oes_filter, per_page=per_page, sort_by=sort_by, sort_dir=sort_dir) }}">
                    Вперёд &raquo;
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Вперёд &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Импорт/экспорт -->
    <div class="row mt-5">
        <!-- Экспорт данных таблицы с фильтрами в Excel-->
        <div class="col-md-6">
            <form action="{{ url_for('app_bp.import_res_to_sql_routes') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-danger w-100">Импорт</button>
                <div class="mb-3">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
            </form>
        </div>

        <!-- Экспорт данных таблицы с фильтрами в Excel-->
        <div class="col-md-6">    
            <form action="{{ url_for('app_bp.export_res_to_excel_routes') }}" method="GET">
                {{ form.csrf_token }}
                <input type="hidden" name="res_filter" value="{{ res_filter }}">
                <input type="hidden" name="oes_filter" value="{{ oes_filter }}">
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <input type="hidden" name="sort_dir" value="{{ sort_dir }}">
                <button type="submit" class="btn btn-warning w-100">Экспорт</button>
            </form>
        </div>
    </div>
</div>

<!-- Скрипт подстройки высоты строк под содержимое ячеек -->
<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Сбрасываем текущую высоту
        textarea.style.height = textarea.scrollHeight + 'px'; // Устанавливаем новую высоту
    }

    // Если нужно, чтобы поле изначально подстраивалось под контент:
    document.querySelectorAll('textarea').forEach(textarea => {
        autoResize(textarea);
    });
</script>
{% endblock %}


