{% extends 'base.html' %}

{% block title %}Генерация{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid mt-2">
    <div class="d-flex justify-content-end align-items-center flex-wrap gap-2">
        <a href="{{ url_for('start.index') }}" class="btn btn-secondary fs-5"> <i class="bi bi-house"></i> Главная страница</a>
        <a href="{{ url_for('refdata_bp.refdata') }}" class="btn btn-secondary fs-5"><i class="bi bi-book"></i> Модуль "Справочники"</a>
    </div>

<div class="container">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <!-- Первая строка -->
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.station_list') }}" class="btn btn-primary fs-4 w-100 py-4">Электростанции РФ</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_changes_bp.station_changes_list') }}" class="btn btn-primary fs-4 w-100 py-4">Изменения установленной мощности ЕГО</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Разделительная линия -->
<hr class="my-5 border border-secondary opacity-50">

<div class="container">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <!-- Первая строка -->
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.documents_kommod') }}" class="btn btn-primary fs-4 w-100 py-4">Нормативные документы по изменению параметров ЕГО (КОММОД, КОМ НГО и т.п.)</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.database_versions') }}" class="btn btn-success fs-4 w-100 py-4">Управление версиями базы данных</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}