{% extends 'base.html' %}

{% block title %}Генерация{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid mt-2">

<div class="container content-start-container">
    <div class="container-fluid">
        <h2 class="text-center align-middle mb-4">Модуль «Генерация»</h2>
        <div class="row g-4 justify-content-center">
            <!-- Первая строка -->
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.station_list') }}" class="btn btn-primary fs-4 w-100 py-4">Электростанции Российской Федерации</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_changes_bp.station_changes_list') }}" class="btn btn-primary fs-4 w-100 py-4">Изменения установленной мощности ЕГО</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('generation_bp.totals_summary') }}" class="btn btn-primary fs-4 w-100 py-4">Итоговые суммы <br> (ЕЭС, ТИТЭС, ФО, синхр. зоны, Россия)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="my-5 border border-secondary opacity-50">
            </div>
        </div>
    </div>
</div>

<div class="container content-start-container">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <!-- Первая строка -->
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.documents_kommod') }}" class="btn btn-primary fs-4 w-100 py-4">Нормативные документы по изменению параметров ЕГО (КОММОД, КОМ НГО и т.п.)</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-12">
                <hr class="my-5 border border-secondary opacity-50">
            </div>
        </div>
    </div>
</div>

<div class="container content-start-container">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <!-- Третья строка -->
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('prospective_places_bp.prospective_places_start') }}" class="btn btn-primary fs-4 w-100 py-4">Перспективные площадки размещения новых электростанций</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="my-5 border border-secondary opacity-50">
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('station_bp.external_code_check') }}" class="btn btn-primary fs-4 w-100 py-4">Проверка external_code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}