<!-- Итоговые значения по всем ВИЭ -->
{% if (energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(ns.ves_id) or energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(ns.ses_id)) %}
<!-- Первая строка: p_ust -->
    <tr class="table-success text-center total-power-row" style="vertical-align: middle;">
        <td class="total-row-cell" rowspan="3" colspan="12" style="font-weight: bold;">
            ВИЭ
        </td>
        <td class="fw-bold">Руст</td>
        {% for y in range(start_year, end_year + 1) %}
            {% set ves = energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(ns.ves_id, {}).get(y) %}
            {% set ses = energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(ns.ses_id, {}).get(y) %}
            {% set val = (ves | float if ves is not none else 0) + (ses | float if ses is not none else 0) %}
                <td class="power-column" style="font-weight: bold;">
                    {% if val is none or val == 0 %}
                        &mdash;
                    {% else %}
                        {{ val | format_decimal }}
                    {% endif %}
                </td>
            {% endfor %}
            <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
            </td>
    </tr>

    <!-- Вторая строка: p_ogr -->
    <tr class="table-success text-center p-ogr-row">
        <td class="fw-bold">Рогр</td>
            {% for y in range(start_year, end_year + 1) %}
            {% set v1 = energy_units_by_station_types_yearly_p_ogr.get(current_eu_id, {}).get(ns.ves_id, {}).get(y) %}
            {% set v2 = energy_units_by_station_types_yearly_p_ogr.get(current_eu_id, {}).get(ns.ses_id, {}).get(y) %}
            {% set val = (v1 | float if v1 is not none else 0) + (v2 | float if v2 is not none else 0) %}
                <td class="power-column" style="font-weight: bold;">
                    {% if val is none or val == 0 %}
                        &mdash;
                    {% else %}
                        {{ val | format_decimal }}
                    {% endif %}
                </td>
        {% endfor %}
        <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
        </td>
    </tr>

    <!-- Третья строка: p_rasp -->
    <tr class="table-success text-center p-rasp-row">
        <td class="fw-bold">Ррасп</td>
        {% for y in range(start_year, end_year + 1) %}
            {% set v1 = energy_units_by_station_types_yearly_p_rasp.get(current_eu_id, {}).get(ns.ves_id, {}).get(y) %}
            {% set v2 = energy_units_by_station_types_yearly_p_rasp.get(current_eu_id, {}).get(ns.ses_id, {}).get(y) %}
            {% set val = (v1 | float if v1 is not none else 0) + (v2 | float if v2 is not none else 0) %}
                <td class="power-column" style="font-weight: bold;">
                    {% if val is none or val == 0 %}
                        &mdash;
                    {% else %}
                        {{ val | format_decimal }}
                    {% endif %}
                </td>
        {% endfor %}
        <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
        </td>
    </tr>


    {#-- Отдельно по ВЭС и СЭС --#}
    {% for station_type_id in [ns.ves_id, ns.ses_id] %}
        {% set has_data = energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(station_type_id) %}

        {% if has_data %}
            <!-- Первая строка: p_ust -->
            <tr class="table-success text-center total-power-row" style="vertical-align: middle;">
                <td class="total-row-cell" rowspan="3" colspan="12" style="font-weight: bold; padding-left: 6cm;">
                    {{ station_type_list.get(station_type_id, 'Неизвестный тип') }}
                </td>
                <td class="fw-bold">Руст</td>
                {% for y in range(start_year, end_year + 1) %}
                    {% set val = energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                    <td class="power-column">
                        {% if val is none or val == 0 %}
                            &mdash;
                        {% else %}
                            {{ val | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>

            <!-- Вторая строка: p_ogr -->
            <tr class="table-success text-center p-ogr-row">
                <td class="fw-bold">Рогр</td>
                {% for y in range(start_year, end_year + 1) %}
                    {% set val = energy_units_by_station_types_yearly_p_ogr.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                    <td class="power-column">
                        {% if val is none or val == 0 %}
                            &mdash;
                        {% else %}
                            {{ val | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>

            <!-- Третья строка: p_rasp -->
            <tr class="table-success text-center p-rasp-row">
                <td class="fw-bold">Ррасп</td>
                {% for y in range(start_year, end_year + 1) %}
                    {% set val = energy_units_by_station_types_yearly_p_rasp.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                    <td class="power-column">
                        {% if val is none or val == 0 %}
                            &mdash;
                        {% else %}
                            {{ val | format_decimal }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>
        {% endif %}
    {% endfor %}

{% endif %}

 