{% set ns = namespace(ves_id=None, ses_id=None, tes_id=None) %}
{% for station_type_id, st_name in station_type_list.items() %}
    {% if st_name == 'ВЭС' %}
        {% set ns.ves_id = station_type_id %}
    {% elif st_name == 'СЭС' %}
        {% set ns.ses_id = station_type_id %}
    {% elif st_name == 'ТЭС' %}
        {% set ns.tes_id = station_type_id %}
    {% endif %}
{% endfor %}

<!-- Итоговые значения по типам электростанций энергоузла -->
{% for station_type_id, st_name in station_type_list.items() %}
    {% set has_st = energy_units_by_station_types_yearly_p_ust
        .get(current_eu_id, {})
        .get(station_type_id) %}

    {% if has_st %}
        {% if station_type_id not in [ns.ves_id, ns.ses_id] %}
                <!-- Первая строка: p_ust -->
                <tr class="table-success text-center total-power-row" style="vertical-align: middle;">
                    <td class="total-row-cell" rowspan="3" colspan="12" style="font-weight: bold;">
                        {{ st_name }}
                    </td>
                    <td class="fw-bold">Руст</td>
                    {% for y in range(start_year, end_year + 1) %}
                        <td class="power-column" style="font-weight: bold;">
                            {% set p_ust_value = energy_units_by_station_types_yearly_p_ust.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                            {% if p_ust_value is none or p_ust_value == 0 %}
                                &mdash;
                            {% else %}
                                {{ p_ust_value | format_decimal }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                    </td>
                </tr>

                <!-- Вторая строка: p_ogr -->
                <tr class="table-success text-center p-ogr-row">
                    <td class="fw-bold">Рогр</td>
                    {% for y in range(start_year, end_year + 1) %}
                        <td class="power-column" style="font-weight: bold;">
                            {% set p_ogr_value = energy_units_by_station_types_yearly_p_ogr.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                            {% if p_ogr_value is none or p_ogr_value == 0 %}
                                &mdash;
                            {% else %}
                                {{ p_ogr_value | format_decimal }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                    </td>
                </tr>

                <!-- Третья строка: p_rasp -->
                <tr class="table-success text-center p-rasp-row">
                    <td class="fw-bold">Ррасп</td>
                    {% for y in range(start_year, end_year + 1) %}
                        <td class="power-column" style="font-weight: bold;">
                            {% set p_rasp_value = energy_units_by_station_types_yearly_p_rasp.get(current_eu_id, {}).get(station_type_id, {}).get(y, 0) %}
                            {% if p_rasp_value is none or p_rasp_value == 0 %}
                                &mdash;
                            {% else %}
                                {{ p_rasp_value | format_decimal }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="text-center align-middle" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
                    </td>
                </tr>

                {% if station_type_id == ns.tes_id %}
                    {% include 'generation/stations/aggregated_data/energy_units/aggregated_energy_units_by_tes_type.html' %}
                {% endif %}
        {% endif %}
            
    {% endif %}
    
{% endfor %}

{% if ns.ves_id or ns.ses_id %}
    {% include 'generation/stations/aggregated_data/energy_units/aggregated_energy_units_by_via.html' %}
{% endif %}

        