{# Как stations_equipment_group_fuel_params, но интервал лет и возврат на equipment_group_fuel_params_edit_data #}
{% set center_top_pagination = true %}
{% set show_fuel_calc_edit_save_in_filters = true %}
{% set hide_fuel_calc_edit_save_in_filters = false %}
{% set filters_action = url_for('fuel_bp.equipment_group_fuel_params_edit_data') %}
{% set show_fuel_params_year_copy = false %}
{% set show_fuel_calc_edit_add_year_period = true %}
{% set show_fuel_calc_edit_hide_empty_toggle = true %}
{% set fuel_params_year_copy_action = url_for('fuel_bp.fuel_calculation_coeff_copy_fuel_params_year') %}
{% set use_equipment_group_filter = true %}
{% set total_count_label = 'групп оборудования' %}
{% set per_page_count_label = 'групп оборудования' %}
{% set per_page_all_label = 'группы оборудования' %}
{% set import_redirect_endpoint = 'fuel_bp.equipment_group_fuel_params_edit_data' %}
{% set use_single_year = false %}
{% set show_fuel_params_import = true %}
{% set show_specific_fuel_consumption_import = false %}
{% set show_fuel_params_export = true %}
{% set import_fuel_params_action = url_for('fuel_bp.import_equipment_group_fuel_params') %}
{% include 'fuel/_shared/station_filters.html' %}
