{# Разбивка по видам топлива для станций типа ТЭС #}
{% for fuel_type_id, fuel_name in fuel_type_list.items() %}
    {% set fuel_data = regional_energy_systems_by_station_types_with_fuel_yearly_p_ust
                        .get(current_res_id, {})
                        .get(fuel_type_id) %}

    {% if fuel_data and fuel_type_id != 100%}
        <!-- Первая строка: Руст -->
        <tr class="table-info text-center total-power-row" style="vertical-align: middle;">
            <td class="total-row-cell" rowspan="3" colspan="11" style="font-weight: bold; padding-left: 3cm;">
                {{ fuel_name }}
            </td>
            <td class="fw-bold">Руст</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ regional_energy_systems_by_station_types_with_fuel_yearly_p_ust
                        .get(current_res_id, {})
                        .get(fuel_type_id, {})
                        .get(y, '—') | format_decimal or '—' }}
                </td>
            {% endfor %}
            <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
            </td>
        </tr>

        <!-- Вторая строка: Рогр -->
        <tr class="table-info text-center p-ogr-row">
            <td class="fw-bold">Рогр</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ regional_energy_systems_by_station_types_with_fuel_yearly_p_ogr
                        .get(current_res_id, {})
                        .get(fuel_type_id, {})
                        .get(y, '—') | format_decimal or '—' }}
                </td>
            {% endfor %}
            <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
            </td>
        </tr>

        <!-- Третья строка: Ррасп -->
        <tr class="table-info text-center p-rasp-row">
            <td class="fw-bold">Ррасп</td>
            {% for y in range(start_year, end_year + 1) %}
                <td class="power-column">
                    {{ regional_energy_systems_by_station_types_with_fuel_yearly_p_rasp
                        .get(current_res_id, {})
                        .get(fuel_type_id, {})
                        .get(y, '—') | format_decimal or '—' }}
                </td>
            {% endfor %}
            <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }}" style="vertical-align: middle; font-weight: bold;">
            </td>
        </tr>
    {% endif %}
{% endfor %}
