{# Фильтры для страницы «Стоимость для групп оборудования» #}
{% set filters_action = url_for('fuel_bp.stations_equipment_group_specific_fuel_cost') %}
{% set use_equipment_group_filter = true %}
{% set hide_pagination_and_per_page = true %}
{% set import_redirect_endpoint = 'fuel_bp.stations_equipment_group_specific_fuel_cost' %}
{% set use_single_year = true %}
{% set show_specific_fuel_cost_import = true %}
{% set show_specific_fuel_cost_export = true %}
{% set import_specific_fuel_cost_action = url_for('fuel_bp.import_equipment_group_specific_fuel_cost') %}
{% set selected_year = selected_year|default(start_year)|default(end_year) %}
{% include 'fuel/station_filters.html' %}
