{% extends 'base.html' %}

{% block title %}Добавить новый тип технологии{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
  <div class="container mt-5">
      <h2 class="mb-4"><i class="fas fa-plus-circle"></i> Добавить тип технологии</h2>

      <form action="{{ url_for('refdata_bp.add_technology_type') }}" method="POST">
        {{ form.hidden_tag() }}

        <!-- Скрытые поля возврата -->
        <input type="hidden" name="page"                  value="{{ page if page else 1 }}">
        <input type="hidden" name="per_page"              value="{{ per_page }}">
        <input type="hidden" name="sort_by"               value="{{ sort_by }}">
        <input type="hidden" name="sort_dir"              value="{{ sort_dir }}">
        <input type="hidden" name="technology_type_filter"   value="{{ technology_type_filter or '' }}">

        <div class="mb-3">
            <label for="name" class="form-label">Тип технологии</label>
            {{ form.name(class="form-control", id="name") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors|join(', ') }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="display_order" class="form-label">Порядок отображения</label>
            {{ form.display_order(class="form-control", id="display_order", type="number", min="0", placeholder="") }}
            {% if form.display_order.errors %}
                <div class="text-danger">{{ form.display_order.errors|join(', ') }}</div>
            {% endif %}
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Добавить</button>
            {% if current_user.has_admin %}<button type="submit" name="all_versions" value="1" class="btn btn-outline-primary" title="Добавить запись во все версии БД">Добавить во всех версиях</button>{% endif %}
            <a href="{{ url_for('refdata_bp.technology_type_list',
                                page=page,
                                per_page=per_page,
                                sort_by=sort_by,
                                sort_dir=sort_dir,
                                technology_type_filter=technology_type_filter,
                                ) }}" 
                                class="btn btn-outline-danger fs-5">
                        Отмена
            </a>
        </div>
      </form>
  </div>
{% endif %}
{% endblock %}