<!-- Итоговые значения по субъекту РФ -->
{% for event_type, event_label in event_types %}
    {% set event_data = regional_districts_yearly_p_ust
        .get(current_rd_id, {})
        .get(event_type, {}) %}
    
    <tr class="table-secondary text-center total-power-row" style="vertical-align: middle;">
        {% if loop.first %}
            <td class="total-row-cell" rowspan="{{ event_types|length * 7 }}" colspan="8" style="font-weight: bold;">
                {{ regional_district_names[current_rd_id] }}
            </td>
        {% endif %}
        <td class="text-center fw-bold">Всего</td>
        <td class="text-center" colspan="4"></td>
        <td class="text-center">{{ event_label }}</td>
        {% for year in range(start_year, end_year + 1) %}
            <td class="power-column">
                {{ event_data.get(year, '—') | format_decimal if event_data }}
            </td>
        {% endfor %}
        <td></td>
    </tr>

    {% set current_event_type = event_type %}
    {% include 'station_changes/aggregated_data/regional_districts/aggregated_regional_districts_by_station_type.html' %}
{% endfor %}
