
{% extends 'base.html' %}

{% block title %}Региональные энергосистемы{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid mt-2">

    <h1 class="text-center mb-4">Список региональных энергосистем</h1>

    <form method="GET" 
        action="{{ url_for('refdata_bp.regional_energy_system_list') }}" 
        class="mb-3"
        id="filterForm"
        >
        <div class="row g-2 align-items-center">
            <!-- ЛЕВАЯ СТОРОНА: поиск + кнопки -->
            <div class="col-12 col-lg-8">
                <div class="d-flex align-items-center gap-2 flex-wrap flex-lg-nowrap">
                    <div class="flex-grow-1" style="min-width: 220px;">
                        {{ form.regional_energy_system_filter(
                            class="form-control",
                            value=regional_energy_system_filter,
                            placeholder="Поиск по региональным энергосистемам"
                        ) }}
                    </div>

                    <button type="submit"
                            class="btn btn-outline-primary"
                            onclick="this.form.page.value=1">
                            Поиск
                    </button>

                    <a href="{{ url_for('refdata_bp.regional_energy_system_list') }}"
                            class="btn btn-outline-danger"
                            data-no-preloader>
                            Сбросить
                    </a>
                </div>
            </div>

            <!-- ПРАВАЯ СТОРОНА: выбор кол-ва строк -->
            <div class="col-12 col-lg-4 text-lg-end">
                <!-- Экспорт данных таблицы с фильтрами в Excel-->
                <a class="btn btn-warning fw-bold"
                    href="{{ url_for('refdata_bp.export_regional_energy_system',
                                        regional_energy_system_filter=regional_energy_system_filter or '',
                                        energy_area_filter=energy_area_filter or '',
                                        union_energy_system_filter=union_energy_system_filter or '',
                                        sort_by=sort_by, sort_dir=sort_dir) }}"
                    target="_blank" rel="noopener">
                    Экспорт в Excel
                </a>

                <select name="per_page"
                        class="form-select d-inline-block w-auto"
                        onchange="this.form.page.value=1; this.form.submit()">
                    <option value="5"  {% if per_page|int == 5 %}selected{% endif %}>5 строк</option>
                    <option value="10" {% if per_page|int == 10 %}selected{% endif %}>10 строк</option>
                    <option value="25" {% if per_page|int == 25 %}selected{% endif %}>25 строк</option>
                    <option value="50" {% if per_page|int == 50 %}selected{% endif %}>50 строк</option>
                </select>
            </div>
        </div>

        {# скрытые параметры для сохранения фильтров/сортировки/страницы #}
        <input type="hidden" name="page"                            value="{{ pagination.page if pagination else 1 }}">
        <input type="hidden" name="sort_by"                         value="{{ sort_by }}">
        <input type="hidden" name="sort_dir"                        value="{{ sort_dir }}">
        <input type="hidden" name="energy_area_filter"              value="{{ energy_area_filter }}">
        <input type="hidden" name="union_energy_system_filter"      value="{{ union_energy_system_filter }}">
    </form>
    
    <!-- Таблица данных -->
    {% if current_user.has_admin %}
        <form method="POST" action="{{ url_for('refdata_bp.regional_energy_system_list') }}">
            {{ form.csrf_token }}

            <input type="hidden" name="page"                            value="{{ pagination.page }}">
            <input type="hidden" name="per_page"                        value="{{ per_page }}">
            <input type="hidden" name="sort_by"                         value="{{ sort_by }}">
            <input type="hidden" name="sort_dir"                        value="{{ sort_dir }}">
            <input type="hidden" name="regional_energy_system_filter"   value="{{ regional_energy_system_filter }}">
            <input type="hidden" name="union_energy_system_filter"      value="{{ union_energy_system_filter }}">
            
            <!-- Кнопки сохранения изменений и добавления новой записи -->
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mt-3 mb-3">
                <div class="d-flex flex-wrap gap-2 align-items-center">
                    <!-- Кнопка сохранения изменений -->
                    <button type="submit" class="btn btn-outline-primary">Сохранить изменения</button>
                    {% if current_user.has_admin %}<button type="submit" name="all_versions" value="1" class="btn btn-outline-success" title="Применить изменения ко всем версиям БД">Сохранить во всех версиях</button>{% endif %}
                </div>

                <!-- Кнопка добавления новой записи -->
                <a href="{{ url_for('refdata_bp.add_regional_energy_system', 
                                    page=page,
                                    per_page=per_page,
                                    sort_by=sort_by,
                                    sort_dir=sort_dir,
                                    regional_energy_system_filter=regional_energy_system_filter,
                                    union_energy_system_filter=union_energy_system_filter,
                                    ) }}" class="btn btn-primary">
                    Добавить новую запись
                </a>
            </div>

            <!-- Таблица с данными для редактирования -->
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">

                    <!-- Шапка таблицы с данными -->
                    <thead>
                        <tr class="table-success" style="word-wrap: break-word;">

                            <!-- Шапка таблицы. Столбец "№" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='number', 
                                            sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    №
                                    {% if sort_by == 'number' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Региональная энергосистема" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name', 
                                            sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Региональная энергосистема
                                    {% if sort_by == 'name' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Региональная энергосистема (полное название)" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name_full', 
                                            sort_dir='asc' if sort_by != 'name_full' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Региональная энергосистема <br> (полное название)
                                    {% if sort_by == 'name_full' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Наименование (в родительном падеже)" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name_rp', 
                                            sort_dir='asc' if sort_by != 'name_rp' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Наименование <br> (в родительном падеже)
                                    {% if sort_by == 'name_rp' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Субъекты РФ" -->
                            <th colspan="2" class="text-center align-middle">Субъекты РФ</th>

                            <!-- Шапка таблицы. Столбец "ОЭС" -->
                            <th class="text-center align-middle">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="mx-auto">
                                        <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                    page=pagination.page, 
                                                    regional_energy_system_filter=regional_energy_system_filter,
                                                    union_energy_system_filter=union_energy_system_filter,
                                                    per_page=per_page,
                                                    sort_by='union_energy_system', 
                                                    sort_dir='asc' if sort_by != 'union_energy_system' or sort_dir == 'desc' else 'desc') }}" 
                                                    class="link-dark">
                                            ОЭС
                                        {% if sort_by == 'union_energy_system' %}
                                            {% if sort_dir == 'asc' %}
                                                ▲
                                            {% else %}
                                                ▼
                                            {% endif %}
                                        {% endif %}
                                        </a>
                                    </span>
                                    <!-- Кнопка выпадающего списка фильтра -->
                                    <div class="dropdown">
                                        <button 
                                            class="btn btn-secondary btn-sm dropdown-toggle" 
                                            type="button" 
                                            id="uesFilterDropdown" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="uesFilterDropdown">
                                            <li>
                                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                            page=pagination.page, 
                                                            regional_energy_system_filter=regional_energy_system_filter,
                                                            union_energy_system_filter='',
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" 
                                                            class="dropdown-item">
                                                    Все ОЭС
                                                </a>
                                            </li>
                                            {% for union_energy_system in union_energy_system_list %}
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                                page=pagination.page, 
                                                                regional_energy_system_filter=regional_energy_system_filter,
                                                                union_energy_system_filter=union_energy_system[0],
                                                                per_page=per_page,
                                                                sort_by=sort_by,
                                                                sort_dir=sort_dir) }}" 
                                                                class="dropdown-item">
                                                        {{ union_energy_system[1] }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </th>

                            <!-- Шапка таблицы. Столбец "Удалить" -->
                            <th class="text-center align-middle">Удалить</th>
                        </tr>
                    </thead>

                    <!-- Данные таблицы-->
                    <tbody>
                        {% for regional_energy_system in regional_energy_system_list %}
                            <tr class="text-center align-middle">
                                <!-- Строки таблицы. Столбец "№" -->
                                <td>
                                    {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                                    <input type="hidden" name="regional_energy_system_ids[]" value="{{ regional_energy_system.id }}">
                                </td>

                                <!-- Строки таблицы. Столбец "Региональная энергосистема" -->
                                <td>
                                    <textarea 
                                        name="regional_energy_system_names[]" 
                                        class="form-control" 
                                        style="overflow-wrap: break-word; white-space: normal; border: none; resize: none; width: 100%; background: transparent; height: auto;" 
                                        rows="1"
                                        oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';">{{ regional_energy_system.name }}</textarea>
                                </td>
                                
                                <!-- Строки таблицы. Столбец "Региональная энергосистема (полное название)" -->
                                <td>
                                    <textarea 
                                        name="regional_energy_system_full_names[]" 
                                        class="form-control" 
                                        style="overflow-wrap: break-word; white-space: normal; border: none; resize: none; width: 100%; background: transparent; height: auto;" 
                                        rows="1"
                                        oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';">{{ regional_energy_system.name_full }}</textarea>
                                </td> 

                                <!-- Строки таблицы. Столбец "Наименование (в родительном падеже)" -->
                                <td>
                                    <textarea 
                                        name="regional_energy_system_rp_names[]" 
                                        class="form-control" 
                                        style="overflow-wrap: break-word; white-space: normal; border: none; resize: none; width: 100%; background: transparent; height: auto;" 
                                        rows="1"
                                        oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';">{{ regional_energy_system.name_rp }}</textarea>
                                </td> 
                                        
                                <!-- Строки таблицы. Столбец "Перечень субъектов РФ, к которым относится региональная энергосистема" -->
                                <td>
                                    <div id="selected-regional-districts-{{ regional_energy_system.id }}">
                                        <div class="form-control" style="overflow-wrap: break-word; white-space: normal; border: none; width: 100%; background: transparent; height: auto;">
                                            {% if regional_energy_system.regional_districts %}
                                                {% for regional_district in regional_energy_system.regional_districts %}
                                                    {{ regional_district.name }}<br>
                                                {% endfor %}
                                            {% else %}
                                                —
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                        
                                <!-- Строки таблицы. Столбец "Выпадающий список субъектов РФ, к которым относится региональная энергосистема" -->
                                <td>
                                    {# Маркер: обновлять связи субъектов только если пользователь реально менял чекбоксы #}
                                    <input type="hidden"
                                           name="regional_districts_changed_{{ regional_energy_system.id }}"
                                           id="regional_districts_changed_{{ regional_energy_system.id }}"
                                           value="0">
                                    <div class="dropdown">
                                        <button 
                                            class="btn btn-secondary dropdown-toggle" 
                                            type="button" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                            Изменить
                                        </button>
                                        <ul class="dropdown-menu" style="min-width: 300px; width: auto; max-width: 100%;">
                                            {# get_regional_district_list_full() возвращает список кортежей (id, name) #}
                                            {% for regional_district in regional_districts_list %}                               
                                            <li>
                                                <div class="form-check">
                                                    <input 
                                                        type="checkbox" 
                                                        name="regional_districts_{{ regional_energy_system.id }}[]" 
                                                        value="{{ regional_district[0] }}" 
                                                        {% if regional_district[0] in regional_energy_system.regional_districts|map(attribute='id') %}checked{% endif %}
                                                        data-res-id="{{ regional_energy_system.id }}"
                                                    >
                                                    <label class="form-check-label" for="regional_district_{{ regional_district[0] }}">
                                                        {{ regional_district[1] }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>                                
                                    </div>                            
                                </td>

                                <!-- Строки таблицы. Столбец "ОЭС" -->
                                <td>
                                    <select name="union_energy_system[]" class="form-select">
                                        {% for union_energy_system in union_energy_system_list %}
                                        <option value="{{ union_energy_system[0] }}" {% if union_energy_system[0] == regional_energy_system.id_union_energy_system %}selected{% endif %}>
                                            {{ union_energy_system[1] }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <!-- Строки таблицы. Столбец "Чекмарк для удаления" -->
                                <td class="text-center align-middle">
                                    <input type="checkbox" name="regional_energy_system_delete[]" value="{{ regional_energy_system.id }}" class="form-check-input">
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center align-middle">Нет данных для отображения</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
        <!-- Таблица с данными для чтения -->
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">

                    <!-- Шапка таблицы с данными -->
                    <thead>
                        <tr class="table-success" style="word-wrap: break-word;">

                            <!-- Шапка таблицы. Столбец "№" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='number', 
                                            sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    №
                                    {% if sort_by == 'number' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Региональная энергосистема" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name', 
                                            sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Региональная энергосистема
                                    {% if sort_by == 'name' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Региональная энергосистема (полное название)" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name_full', 
                                            sort_dir='asc' if sort_by != 'name_full' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Региональная энергосистема <br> (полное название)
                                    {% if sort_by == 'name_full' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Наименование (в родительном падеже)" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            regional_energy_system_filter=regional_energy_system_filter,
                                            union_energy_system_filter=union_energy_system_filter, 
                                            sort_by='name_rp', 
                                            sort_dir='asc' if sort_by != 'name_rp' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Наименование <br> (в родительном падеже)
                                    {% if sort_by == 'name_rp' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Субъекты РФ" -->
                            <th class="text-center align-middle">Субъекты РФ</th>

                            <!-- Шапка таблицы. Столбец "ОЭС" -->
                            <th class="text-center align-middle">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="mx-auto">
                                        <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                    page=pagination.page, 
                                                    regional_energy_system_filter=regional_energy_system_filter,
                                                    union_energy_system_filter=union_energy_system_filter,
                                                    per_page=per_page,
                                                    sort_by='union_energy_system', 
                                                    sort_dir='asc' if sort_by != 'union_energy_system' or sort_dir == 'desc' else 'desc') }}" 
                                                    class="link-dark">
                                            ОЭС
                                        {% if sort_by == 'union_energy_system' %}
                                            {% if sort_dir == 'asc' %}
                                                ▲
                                            {% else %}
                                                ▼
                                            {% endif %}
                                        {% endif %}
                                        </a>
                                    </span>
                                    <!-- Кнопка выпадающего списка фильтра -->
                                    <div class="dropdown">
                                        <button 
                                            class="btn btn-secondary btn-sm dropdown-toggle" 
                                            type="button" 
                                            id="uesFilterDropdown" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="uesFilterDropdown">
                                            <li>
                                                <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                            page=pagination.page, 
                                                            regional_energy_system_filter=regional_energy_system_filter,
                                                            union_energy_system_filter='',
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" 
                                                            class="dropdown-item">
                                                    Все ОЭС
                                                </a>
                                            </li>
                                            {% for union_energy_system in union_energy_system_list %}
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.regional_energy_system_list', 
                                                                page=pagination.page, 
                                                                regional_energy_system_filter=regional_energy_system_filter,
                                                                union_energy_system_filter=union_energy_system[0],
                                                                per_page=per_page,
                                                                sort_by=sort_by,
                                                                sort_dir=sort_dir) }}" 
                                                                class="dropdown-item">
                                                        {{ union_energy_system[1] }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <!-- Данные таблицы-->
                    <tbody>
                        {% for regional_energy_system in regional_energy_system_list %}
                            <tr class="text-center align-middle">
                                <!-- Строки таблицы. Столбец "№" -->
                                <td>
                                    {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                                    <input type="hidden" name="regional_energy_system_ids[]" value="{{ regional_energy_system.id }}">
                                </td>

                                <!-- Строки таблицы. Столбец "Региональная энергосистема" -->
                                <td>
                                    {{ regional_energy_system.name }}
                                </td>
                                
                                <!-- Строки таблицы. Столбец "Региональная энергосистема (полное название)" -->
                                <td>
                                    {{ regional_energy_system.name_full }}
                                </td> 

                                <!-- Строки таблицы. Столбец "Наименование (в родительном падеже)" -->
                                <td>
                                    {{ regional_energy_system.name_rp }}
                                </td> 

                                <!-- Строки таблицы. Столбец "Выпадающий список субъектов РФ, к которым относится региональная энергосистема" -->
                                <td>
                                    <div class="form-control" style="background: transparent; border: none;">
                                        {% if regional_energy_system.regional_districts %}
                                            {% for regional_district in regional_energy_system.regional_districts %}
                                                {{ regional_district.name }}<br>
                                                <input type="hidden" name="regional_districts_{{ regional_energy_system.id }}[]" value="{{ regional_district.id }}">
                                            {% endfor %}
                                        {% else %}
                                            —
                                        {% endif %}
                                    </div>
                                </td>

                                <!-- Строки таблицы. Столбец "ОЭС" -->
                                <td>
                                    {% set ns = namespace(title="—") %}
                                    {% for u in union_energy_system_list %}
                                        {% if u[0] == regional_energy_system.id_union_energy_system %}
                                            {% set ns.title = u[1] %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="form-control-plaintext">{{ ns.title }}</div>
                                </td>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center align-middle">Нет данных для отображения</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}

    <!-- Пагинация -->
    <div>
        {% include 'refdata/energy_systems/regional_energy_system/regional_energy_system_pagination.html' %}
    </div>

</div>

<!-- Скрипт подстройки высоты строк под содержимое ячеек -->
<script src="{{ url_for('static', filename='js/refdata/textarea_autoresize.js') }}"></script>

<script>
// Помечаем, что список субъектов у конкретной РЭС был изменен (чтобы не обнулять связи при сохранении "только текста")
document.addEventListener('change', function (e) {
    const t = e.target;
    if (!t) return;
    if (t.matches('input[type="checkbox"][name^="regional_districts_"][name$="[]"]')) {
        const resId = t.getAttribute('data-res-id');
        if (!resId) return;
        const marker = document.getElementById(`regional_districts_changed_${resId}`);
        if (marker) marker.value = "1";
    }
});
</script>

{% endif %}
{% endblock %}
