<!-- Итоговые значения по типам ТЭС энергоузла -->
{% for tes_type_id, tes_name in tes_type_list.items() %}
    {% if tes_type_id != 100 %}
        {% set has_tes = energy_units_by_tes_types_yearly_p_ust.get(eu_id, {}).get(tes_type_id) %}
        {% if has_tes %}
            <!-- Первая строка: p_ust -->
            <tr class="table-success text-center total-power-row" style="vertical-align: middle;">
                <td class="total-row-cell ind2cm" rowspan="3" colspan="10" style="font-weight: bold; padding-left: 6cm;">
                    {{ tes_name }}
                </td>
                <td class="fw-bold">Руст</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {{ energy_units_by_tes_types_yearly_p_ust.get(eu_id, {}).get(tes_type_id, {}).get(y, '—') }}
                    </td>
                {% endfor %}
                <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }} style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>

            <!-- Вторая строка: p_ogr -->
            <tr class="table-success text-center p-ogr-row">
                <td class="fw-bold">Рогр</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {{ energy_units_by_tes_types_yearly_p_ogr.get(eu_id, {}).get(tes_type_id, {}).get(y, '—') }}
                    </td>
                {% endfor %}
                <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }} style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>

            <!-- Третья строка: p_rasp -->
            <tr class="table-success text-center p-rasp-row">
                <td class="fw-bold">Ррасп</td>
                {% for y in range(start_year, end_year + 1) %}
                    <td class="power-column" style="font-weight: bold;">
                        {{ energy_units_by_tes_types_yearly_p_rasp.get(eu_id, {}).get(tes_type_id, {}).get(y, '—') }}
                    </td>
                {% endfor %}
                <td class="text-center" colspan="{{ 4 + 2 * (end_year - start_year) }} style="vertical-align: middle; font-weight: bold;">
                </td>
            </tr>

            {#–- {% include 'stations/aggregated_data/energy_units/aggregated_energy_units_by_tes_type_with_fuel.html' %} --#}

            {% include 'stations/aggregated_data/energy_units/aggregated_energy_units_by_tes_machine_type.html' %}

        {% endif %}
    {% endif %}
{% endfor %}