{% extends 'base.html' %}

{% block title %}Группы оборудования{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container mt-2">

    <h1 class="text-center mb-4">Список групп оборудования</h1>

    <form method="GET"
        action="{{ url_for('refdata_bp.equipment_group_list') }}"
        class="mb-3"
        id="filterForm">

        <div class="row g-2 align-items-center">
            <!-- ЛЕВАЯ СТОРОНА: поиск + кнопки -->
            <div class="col-12 col-lg-8">
                <div class="d-flex align-items-center gap-2 flex-wrap flex-lg-nowrap">
                    <div class="flex-grow-1" style="min-width: 220px;">
                            {{ form.equipment_group_filter(
                            class="form-control",
                            value=equipment_group_filter or '',
                            placeholder="Поиск по группам оборудования"
                        ) }}
                    </div>

                    <button type="submit"
                            class="btn btn-outline-primary fw-bold"
                            onclick="this.form.page.value=1">
                            Поиск
                    </button>

                    <a href="{{ url_for('refdata_bp.equipment_group_list') }}"
                            class="btn btn-outline-secondary fw-bold"
                            data-no-preloader>
                            Сбросить
                    </a>
                </div>
            </div>

            <!-- ПРАВАЯ СТОРОНА: выбор кол-ва строк -->
            <div class="col-12 col-lg-4 text-lg-end">
                <!-- Экспорт данных таблицы с фильтрами в Excel-->
                <a class="btn btn-warning fw-bold"
                    href="{{ url_for('refdata_bp.export_equipment_group',
                                        equipment_group_filter=equipment_group_filter or '',
                                        sort_by=sort_by, sort_dir=sort_dir) }}"
                    target="_blank" rel="noopener">
                    Экспорт в Excel
                </a>

                <select name="per_page"
                        class="form-select d-inline-block w-auto"
                        onchange="this.form.page.value=1; this.form.submit()">
                    <option value="5"  {% if per_page|int == 5 %}selected{% endif %}>5 строк</option>
                    <option value="10" {% if per_page|int == 10 %}selected{% endif %}>10 строк</option>
                    <option value="25" {% if per_page|int == 25 %}selected{% endif %}>25 строк</option>
                    <option value="50" {% if per_page|int == 50 %}selected{% endif %}>50 строк</option>
                </select>
            </div>
        </div>

        {# скрытые параметры для сохранения фильтров/сортировки/страницы #}
        <input type="hidden" name="page"                    value="{{ pagination.page if pagination else 1 }}">
        <input type="hidden" name="sort_by"                 value="{{ sort_by }}">
        <input type="hidden" name="sort_dir"                value="{{ sort_dir }}">
        <input type="hidden" name="technology_type_filter"    value="{{ technology_type_filter or '' }}">
        <input type="hidden" name="technology_availability_filter"    value="{{ technology_availability_filter or '' }}">
    </form>

    <!-- Таблица данных -->
     {% if current_user.has_admin %}
        <form method="POST" action="{{ url_for('refdata_bp.equipment_group_list') }}">
            {{ form.csrf_token }}
            
            <input type="hidden" name="page"                value="{{ pagination.page }}">
            <input type="hidden" name="per_page"            value="{{ per_page }}">
            <input type="hidden" name="sort_by"             value="{{ sort_by }}">
            <input type="hidden" name="sort_dir"            value="{{ sort_dir }}">
            <input type="hidden" name="equipment_group_filter"    value="{{ equipment_group_filter }}">
            <input type="hidden" name="technology_type_filter"    value="{{ technology_type_filter }}">
            <input type="hidden" name="technology_availability_filter"    value="{{ technology_availability_filter }}">
            <!-- Кнопки сохранения изменений и добавления новой записи -->
            <div class="d-flex justify-content-between mt-3 mb-3">
                <!-- Кнопка сохранения изменений -->
                <button type="submit" class="btn btn-success">Сохранить изменения</button>

                <!-- Кнопка добавления новой записи -->
                <a href="{{ url_for('refdata_bp.add_equipment_group', 
                                    page=page,
                                    per_page=per_page,
                                    sort_by=sort_by,
                                    sort_dir=sort_dir,
                                    equipment_group_filter=equipment_group_filter,
                                    technology_type_filter=technology_type_filter,
                                    technology_availability_filter=technology_availability_filter,
                                ) }}" class="btn btn-primary">
                    Добавить новую запись
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <!-- Шапка таблицы. Столбец "№" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            equipment_group_filter=equipment_group_filter,
                                            technology_type_filter=technology_type_filter,
                                            technology_availability_filter=technology_availability_filter,
                                            sort_by='number', 
                                            sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    №
                                    {% if sort_by == 'number' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Порядок отображения" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            equipment_group_filter=equipment_group_filter,
                                            technology_type_filter=technology_type_filter,
                                            technology_availability_filter=technology_availability_filter,
                                            sort_by='display_order', 
                                            sort_dir='asc' if sort_by != 'display_order' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Порядок отображения
                                    {% if sort_by == 'display_order' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                            <!-- Шапка таблицы. Столбец "Группа оборудования" -->
                            <th class="text-center align-middle">
                                <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                            page=pagination.page, 
                                            per_page=per_page, 
                                            equipment_group_filter=equipment_group_filter,
                                            technology_type_filter=technology_type_filter,
                                            technology_availability_filter=technology_availability_filter,
                                            sort_by='name', 
                                            sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                            class="text-black">
                                    Группа оборудования
                                    {% if sort_by == 'name' %}
                                        {% if sort_dir == 'asc' %}
                                            ▲
                                        {% else %}
                                            ▼
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </th>

                                <!-- Шапка таблицы. Столбец "Тип технологий" -->
                                <th class="text-center align-middle">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="mx-auto">
                                            <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                        page=pagination.page, 
                                                        equipment_group_filter=equipment_group_filter,
                                                        technology_type_filter=technology_type_filter,
                                                        technology_availability_filter=technology_availability_filter,
                                                        per_page=per_page,
                                                        sort_by='technology_type', 
                                                        sort_dir='asc' if sort_by != 'technology_type' or sort_dir == 'desc' else 'desc') }}" 
                                            class="link-dark">
                                                Тип технологий
                                                {% if sort_by == 'technology_type' %}
                                                    {% if sort_dir == 'asc' %}
                                                        ▲
                                                    {% else %}
                                                        ▼
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </span>
                                        <!-- Кнопка выпадающего списка фильтра -->
                                        <div class="dropdown">
                                            <button 
                                                class="btn btn-secondary btn-sm dropdown-toggle" 
                                                type="button" 
                                                id="ttFilterDropdown" 
                                                data-bs-toggle="dropdown" 
                                                aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ttFilterDropdown">
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                                page=pagination.page, 
                                                                equipment_group_filter=equipment_group_filter,
                                                                technology_type_filter='',
                                                                technology_availability_filter='',
                                                                per_page=per_page,
                                                                sort_by=sort_by,
                                                                sort_dir=sort_dir) }}" 
                                                                class="dropdown-item">
                                                        Все типы технологий
                                                    </a>
                                                </li>
                                                {% for id, name in technology_types %}
                                                    <li>
                                                        <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                            page=pagination.page, 
                                                            equipment_group_filter=equipment_group_filter,
                                                            technology_type_filter=id,
                                                            technology_availability_filter='',
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" class="dropdown-item">
                                                            {{ name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </th>

                                <!-- Шапка таблицы. Столбец "Доступность технологий" -->
                                <th class="text-center align-middle">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="mx-auto">
                                            <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                        page=pagination.page, 
                                                        equipment_group_filter=equipment_group_filter,
                                                        technology_type_filter=technology_type_filter,
                                                        technology_availability_filter=technology_availability_filter,
                                                        per_page=per_page,
                                                        sort_by='technology_availability', 
                                                        sort_dir='asc' if sort_by != 'technology_availability' or sort_dir == 'desc' else 'desc') }}" 
                                            class="link-dark">
                                                Доступность технологий
                                                {% if sort_by == 'technology_availability' %}
                                                    {% if sort_dir == 'asc' %}
                                                        ▲
                                                    {% else %}
                                                        ▼
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </span>
                                        <!-- Кнопка выпадающего списка фильтра -->
                                        <div class="dropdown">
                                            <button 
                                                class="btn btn-secondary btn-sm dropdown-toggle" 
                                                type="button" 
                                                id="ttaFilterDropdown" 
                                                data-bs-toggle="dropdown" 
                                                aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ttaFilterDropdown">
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                                page=pagination.page, 
                                                                equipment_group_filter=equipment_group_filter,
                                                                technology_type_filter=technology_type_filter,
                                                                technology_availability_filter='',
                                                                per_page=per_page,
                                                                sort_by=sort_by,
                                                                sort_dir=sort_dir) }}" 
                                                                class="dropdown-item">
                                                        Все типы технологий
                                                    </a>
                                                </li>
                                                {% for id, name in technology_availabilities %}
                                                    <li>
                                                        <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                            page=pagination.page, 
                                                            equipment_group_filter=equipment_group_filter,
                                                            technology_type_filter=technology_type_filter,
                                                            technology_availability_filter=id,
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" class="dropdown-item">
                                                            {{ name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </th>
                            <!-- Шапка таблицы. Столбец "Удалить" -->
                            <th class="text-center align-middle">Удалить</th>
                        </tr>
                    </thead>

                    <!-- Данные таблицы-->
                    <tbody>
                        {% for equipment_group in equipment_group_list %}
                        <tr>
                            <!-- Строки таблицы. Столбец "№" -->
                            <td class="text-center align-middle">
                                {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                                <input type="hidden" name="equipment_group_ids[]" value="{{ equipment_group.id }}">
                            </td>

                            <!-- Строки таблицы. Столбец "Порядок отображения" -->
                            <td>
                                <input 
                                    type="number" 
                                    name="display_orders[]" 
                                    class="form-control text-center" 
                                    value="{{ equipment_group.display_order if equipment_group.display_order is not none else '' }}"
                                    style="width: 100%;"
                                    min="0" step="1" placeholder=""
                                >
                            </td>

                            <!-- Строки таблицы. Столбец "Группа оборудования" -->
                            <td>
                                <input type="text" name="equipment_group_names[]" class="form-control" value="{{ equipment_group.name }}">
                            </td>

                            <!-- Строки таблицы. Столбец "Тип технологий" -->
                            <td>
                                <select name="technology_types[]" class="form-select">
                                    {% for technology_type in technology_types %}
                                    <option value="{{ technology_type.0 }}" 
                                        {% if technology_type.0 == equipment_group.id_technology_type %}selected{% endif %}>
                                        {{ technology_type.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>

                            <!-- Строки таблицы. Столбец "Доступность технологий" -->
                            <td>
                                <select name="technology_availabilities[]" class="form-select">
                                    {% for technology_availability in technology_availabilities %}
                                    <option value="{{ technology_availability.0 }}" 
                                        {% if technology_availability.0 == equipment_group.id_technology_availability %}selected{% endif %}>
                                        {{ technology_availability.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>

                            <!-- Строки таблицы. Столбец "Чекмарк для удаления" -->
                            <td class="text-center align-middle">
                                <input type="checkbox" name="equipment_group_delete[]" value="{{ equipment_group.id }}" class="form-check-input">
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center align-middle">Нет данных для отображения</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
        <!-- Таблица с данными для чтения -->
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead class="table-success">
                    <tr>
                        <!-- Шапка таблицы. Столбец "№" -->
                        <th class="text-center align-middle">
                            <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                        page=pagination.page, 
                                        per_page=per_page, 
                                        equipment_group_filter=equipment_group_filter,
                                        technology_type_filter=technology_type_filter,
                                        technology_availability_filter=technology_availability_filter,
                                        sort_by='number', 
                                        sort_dir='asc' if sort_by != 'number' or sort_dir == 'desc' else 'desc') }}" 
                                        class="text-black">
                                №
                                {% if sort_by == 'number' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                        <!-- Шапка таблицы. Столбец "Порядок отображения" -->
                        <th class="text-center align-middle">
                            <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                        page=pagination.page, 
                                        per_page=per_page, 
                                        equipment_group_filter=equipment_group_filter,
                                        technology_type_filter=technology_type_filter,
                                        technology_availability_filter=technology_availability_filter,
                                        sort_by='display_order', 
                                        sort_dir='asc' if sort_by != 'display_order' or sort_dir == 'desc' else 'desc') }}" 
                                        class="text-black">
                                Порядок отображения
                                {% if sort_by == 'display_order' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                        <!-- Шапка таблицы. Столбец "Группа оборудования" -->
                        <th class="text-center align-middle">
                            <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                        page=pagination.page, 
                                        per_page=per_page, 
                                        equipment_group_filter=equipment_group_filter,
                                        technology_type_filter=technology_type_filter,
                                        technology_availability_filter=technology_availability_filter,
                                        sort_by='name', 
                                        sort_dir='asc' if sort_by != 'name' or sort_dir == 'desc' else 'desc') }}" 
                                        class="text-black">
                                Группа оборудования
                                {% if sort_by == 'name' %}
                                    {% if sort_dir == 'asc' %}
                                        ▲
                                    {% else %}
                                        ▼
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>

                            <!-- Шапка таблицы. Столбец "Тип технологий" -->
                            <th class="text-center align-middle">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="mx-auto">
                                        <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                    page=pagination.page, 
                                                    equipment_group_filter=equipment_group_filter,
                                                    technology_type_filter=technology_type_filter,
                                                    technology_availability_filter=technology_availability_filter,
                                                    per_page=per_page,
                                                    sort_by='technology_type', 
                                                    sort_dir='asc' if sort_by != 'technology_type' or sort_dir == 'desc' else 'desc') }}" 
                                        class="link-dark">
                                            Тип технологий
                                            {% if sort_by == 'technology_type' %}
                                                {% if sort_dir == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </span>
                                    <!-- Кнопка выпадающего списка фильтра -->
                                    <div class="dropdown">
                                        <button 
                                            class="btn btn-secondary btn-sm dropdown-toggle" 
                                            type="button" 
                                            id="ttFilterDropdown" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ttFilterDropdown">
                                            <li>
                                                <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                            page=pagination.page, 
                                                            equipment_group_filter=equipment_group_filter,
                                                            technology_type_filter='',
                                                            technology_availability_filter='',
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" 
                                                            class="dropdown-item">
                                                    Все типы технологий
                                                </a>
                                            </li>
                                            {% for id, name in technology_types %}
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                        page=pagination.page, 
                                                        equipment_group_filter=equipment_group_filter,
                                                        technology_type_filter=id,
                                                        technology_availability_filter='',
                                                        per_page=per_page,
                                                        sort_by=sort_by,
                                                        sort_dir=sort_dir) }}" class="dropdown-item">
                                                        {{ name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </th>

                            <!-- Шапка таблицы. Столбец "Доступность технологий" -->
                            <th class="text-center align-middle">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="mx-auto">
                                        <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                    page=pagination.page, 
                                                    equipment_group_filter=equipment_group_filter,
                                                    technology_type_filter=technology_type_filter,
                                                    technology_availability_filter=technology_availability_filter,
                                                    per_page=per_page,
                                                    sort_by='technology_availability', 
                                                    sort_dir='asc' if sort_by != 'technology_availability' or sort_dir == 'desc' else 'desc') }}" 
                                        class="link-dark">
                                            Доступность технологий
                                            {% if sort_by == 'technology_availability' %}
                                                {% if sort_dir == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </span>
                                    <!-- Кнопка выпадающего списка фильтра -->
                                    <div class="dropdown">
                                        <button 
                                            class="btn btn-secondary btn-sm dropdown-toggle" 
                                            type="button" 
                                            id="ttaFilterDropdown" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ttaFilterDropdown">
                                            <li>
                                                <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                            page=pagination.page, 
                                                            equipment_group_filter=equipment_group_filter,
                                                            technology_type_filter=technology_type_filter,
                                                            technology_availability_filter='',
                                                            per_page=per_page,
                                                            sort_by=sort_by,
                                                            sort_dir=sort_dir) }}" 
                                                            class="dropdown-item">
                                                    Все типы технологий
                                                </a>
                                            </li>
                                            {% for id, name in technology_availabilities %}
                                                <li>
                                                    <a href="{{ url_for('refdata_bp.equipment_group_list', 
                                                        page=pagination.page, 
                                                        equipment_group_filter=equipment_group_filter,
                                                        technology_type_filter=technology_type_filter,
                                                        technology_availability_filter=id,
                                                        per_page=per_page,
                                                        sort_by=sort_by,
                                                        sort_dir=sort_dir) }}" class="dropdown-item">
                                                        {{ name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </th>
                        <!-- Шапка таблицы. Столбец "Удалить" -->
                        <th class="text-center align-middle">Удалить</th>
                    </tr>
                </thead>

                <!-- Данные таблицы-->
                <tbody>
                    {% for equipment_group in equipment_group_list %}
                    <tr class= "align-middle">
                        <!-- Строки таблицы. Столбец "№" -->
                        <td class="text-center">
                            {{ loop.index + (pagination.page - 1) * pagination.per_page }}
                        </td>

                        <!-- Строки таблицы. Столбец "Порядок отображения" -->
                        <td class="text-center">
                            {{ equipment_group.display_order if equipment_group.display_order is not none else '—' }}
                        </td>

                        <!-- Строки таблицы. Столбец "Группа оборудования" -->
                        <td> {{ equipment_group.name }} </td>

                        <!-- Строки таблицы. Столбец "Тип технологии" -->
                        <td class="text-center">
                            {{ equipment_group.technology_type.name if equipment_group.technology_type else '—' }}
                        </td>

                        <!-- Строки таблицы. Столбец "Доступность технологии" -->
                        <td class="text-center">
                            {{ equipment_group.technology_availability.name if equipment_group.technology_availability else '—' }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center align-middle">Нет данных для отображения</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    <!-- Пагинация -->
    <div>
        {% include 'refdata/refdata_for_stations/technologies/equipment_group/equipment_group_pagination.html' %}
    </div>

</div>

<!-- Скрипт подстройки высоты строк под содержимое ячеек -->
<script src="{{ url_for('static', filename='js/refdata/textarea_autoresize.js') }}"></script>

{% endif %}
{% endblock %}
