{# Фильтры для страницы «Формулы для расчета топлива по группам оборудования» #}
{% set filters_action = url_for('fuel_bp.equipment_group_fuel_formulas_page') %}
{% set use_equipment_group_filter = true %}
{% set hide_pagination_and_per_page = true %}
{% set import_redirect_endpoint = 'fuel_bp.equipment_group_fuel_formulas_page' %}
{% set hide_year_range = true %}
{% set hide_filters_third_row_reset = true %}
{% set show_fuel_formula_import = true %}
{% set show_fuel_formula_page = true %}
{% set import_fuel_formula_action = url_for('fuel_bp.import_equipment_group_fuel_formula') %}
{% include 'fuel/_shared/station_filters.html' %}
