{% extends 'base.html' %}

{% block title %}Добавить новый ФО{% endblock %}

{% block content %}
  <div class="container mt-5">
      <h2>Добавить ФО</h2>

      <!-- Форма ввода данных -->
      <form action="{{ url_for('app_bp.add_fo') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="name" class="form-label">Наименование ФО</label>
            {{ form.name(class="form-control", id="name") }}
            {% if form.name.errors %}
                <div class="text-danger">
                    {{ form.name.errors[0] }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a href="{{ url_for('app_bp.fo_list') }}" class="btn btn-secondary">Отмена</a>
      </form>
  </div>
{% endblock %}
