{% extends 'base.html' %}

{% block title %}Стартовая страница{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
  <div class="text-center mb-5">
      <h1 class="display-4">Добро пожаловать</h1>
  </div>

  <div class="container">
      <div class="row justify-content-center">
            <!-- Электростанции -->
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('app_bp.station_list') }}" class="btn btn-primary fs-4">Электростанции</a>
                    </div>
                </div>
            </div>

            <!-- Справочники -->
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <div class="card shadow-sm w-100">
                    <div class="card-body text-center">
                        <a href="{{ url_for('app_bp.reference') }}" class="btn btn-primary fs-4">Справочники</a>
                    </div>
                </div>
            </div>

      </div>
  </div>
  {% endif %}
{% endblock %}